﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web_Pages/MM_Rewards.Master" AutoEventWireup="true" CodeBehind="WebForm1.aspx.cs" Inherits="MM_Rewards.Web_Pages.Admin.WebForm1" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<script type="text/javascript">
    function Get() {
        var grd = document.getElementById('<%=grid.ClientID %>');
        var Dgrd = document.getElementById('<%=Dgrid.ClientID %>');
        var RadGrid = document.getElementById('<%=RadGrid1.ClientID %>');

        var grd1 = document.getElementById("grid");
        var Dgrd1 = document.getElementById("Dgrid");
        var RadGrid1 = document.getElementById("RadGrid1");
        return false;
    }


</script>
<asp:GridView ID="grid" runat="server" AutoGenerateColumns="true"  >


</asp:GridView>

<asp:DataGrid ID="Dgrid" runat="server" AutoGenerateColumns="true" ></asp:DataGrid>


    <telerik:RadGrid ID="RadGrid1" runat="server">
    </telerik:RadGrid>
<asp:Button runat="server" Text="btn" OnClientClick="return Get();" />
</asp:Content>
