*
{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
 
}


a
{
    color: #0066FF;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
    
}
.errortxt
{
    color: #FF0000;
}
.txtB
{
    font-weight: bold;
}
.txtH
{
    line-height: 30px;
}
.brdL
{
    border-left: 1px solid #c81a1a;
}
.btnR
{
    background: #d7252f;
    height: 24px;
    padding: 0 15px 4px 15px !important;
    margin: 0 10px 0 0;
    color: #fff;
    border: none !important;
    overflow: visible;
    width: auto !important;
    cursor: pointer;
}
.btnR
{
    padding: 0 15px 2px 15px\9 !important;
}

div.wrapper
{
    width: 940px;
    margin: 0 auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}
div.header
{
    overflow: hidden;
    border-bottom: 1px solid #c81a1a;
    padding: 0 10px 0 10px;
    
    
}
div.headlt
{
    float: left;
    display: inline;
    padding: 15px 0;
    width: 105px;
    
}
div.headct
{
    
    padding: 40px 0;
    text-align: center;
    font-size: 32px;
    color: Gold;
    width: 653px;
    font-weight: bold;
    float: left;
    
}

div.headerWrapper
{
    clear: both;
    border-left: 1px solid #c81a1a;
    border-right: 1px solid #c81a1a;
    border-top: 1px solid #c81a1a;
    background-image:url(/images/bbg_10.png);
    
}

div.headrt
{
    float: right;
    display: inline;
    padding: 15px 5px 0 0;
    width: 145px;
    text-align:right;
}

div.iconBar
{
    overflow: hidden;
    padding: 5px 10px 5px;
    text-align: right;
    background-color:#D8D8D8;
    border-top: 1px solid #c81a1a;
    
    
}

.iconBar img
{
    margin: 5px 20px;
    height: 50px;
    cursor: pointer;
}

div.headlt img
{
    padding: 0 0 0 15px;
}

div.container
{
    clear: both;
    border-left: 1px solid #c81a1a;
    border-right: 1px solid #c81a1a;
    border-bottom: 1px solid #c81a1a;
    
}
div.formHold
{
    clear: both;
     overflow: visible;
    padding: 15px 15px 0 15px;
    /*background-image:url(/images/bbg_10.png);*/
    background-color:#ffEEDD;
}



div.containerFlash
{
    clear: both;
    border-left: 1px solid #c81a1a;
    border-right: 1px solid #c81a1a;
    border-bottom: 1px solid #c81a1a;
    border-top: 1px solid #c81a1a;
    
}

div.formHoldFlash
{
    clear: both;
     overflow: visible;
    padding: 15px 15px 0 15px;
    /*background-image:url(/images/bbg_10.png);*/
    background-color:#000000;
    color: #EEEEEE;
}

div.formHoldFlash p
{
    font-weight: bold;
    font-size:large;
    padding: 5px 5px 5px 5px;
    /*border: 1px solid;
    border-color: #CC0000;*/
    background-color:#000000;
    color:#FFFFFF;
}

div.formHoldFlash span
{
    font-weight: bold;
    font-size:large;
    color:Gold;
}

div.formHoldFlash table
{
    border-collapse: collapse;
}
div.formHoldFlash table td
{
    padding: 5px;
    vertical-align: top;
}
div.formHoldFlash .rptTbl table td
{
    padding: 3px 0 0 0;
    vertical-align: top;
}
div.formHoldFlash table td.labWidth
{
    width: 250px;
}
div.formHoldFlash table td.brdrt
{
    border-right: 1px solid #c81a1a;
}
div.formHoldFlash table td.brdbtm
{
    border-bottom: 1px solid #c81a1a;
}


body
{
    
    
}

div.formHold p
{
    font-weight: bold;
    padding: 5px 0 5px 5px;
    /*border: 1px solid;
    border-color: #CC0000;*/
    background-color:#ffcc66;
    color:#000000;
}
div.formHold table
{
    border-collapse: collapse;
}
div.formHold table td
{
    padding: 5px;
    vertical-align: top;
}
div.formHold .rptTbl table td
{
    padding: 3px 0 0 0;
    vertical-align: top;
}
div.formHold table td.labWidth
{
    width: 250px;
}
div.formHold table td.brdrt
{
    border-right: 1px solid #c81a1a;
}
div.formHold table td.brdbtm
{
    border-bottom: 1px solid #c81a1a;
}

/*div.formHold table input, table textarea{ border:1px solid #CCCCCC; padding:2px 5px; width:200px;}*/
div.formHold table input, div.formHold table textarea
{
    border: 1px solid #CCCCCC;
    padding: 2px 5px;
}
div.formHold table select
{
    border: 1px solid #CCCCCC;
}

div.formHold table input.checkList
{
    width: 20px;
    border: none;
}

div.footer
{
    
    overflow: hidden;
    padding: 0 10px 0 40px;
}




div.fttxt
{
    padding: 10px 0 10px 20px;
    margin: 0 0 0 40px;
}

/*form01*/
div.header01
{
    overflow: hidden;
    border-bottom: 1px solid #c81a1a;
    padding: 0 10px 0 10px;
    
}
div.headlt01
{
    float: left;
    display: inline;
    padding: 15px 0;
}


div.container01
{
    clear: both;
    margin: 0 0 0 10px;
}
div.formHold01
{
    clear: both;
    overflow: hidden;
    padding: 15px 0 0 0;
}
div.formHold01 p
{
    font-weight: bold;
    padding: 0 0 15px 5px;
}

div.formHold01 table input, table textarea
{
    border: 1px solid #CCCCCC;
    padding: 2px 5px;
}

div.fttxt01
{
    padding: 10px 0 10px 0;
    margin: 0 0 0 15px;
}

/* For Grid Header Alignment*/
.textalign th
{
    text-align: left !important;
}

.addChain
{
    width: 250px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 9999;
    background: #F7F7F7;
    border: 1px solid #CCC;
    padding: 10px;
}

.lftB, .rftB
{
    border: 1px solid lightgray;
}
.lftB
{
    border-right: 0px;
}
.rftB
{
    border-left: 0px;
}

.rbl input[type="radio"]
{
    margin-left: 20px;
    margin-right: 2px;
}

.rbl input[type="radio"]
{
    margin-left: 50px;
    margin-right: 2px;
}

.rptContainer
{
    width:850px;
    margin:0 20px 0 0;
    overflow-x:scroll;
}
    


.lnkBox
{
    position: absolute; 
  /*    top:10px;
    left:100px; */
  bottom:20px; 
    right:80px;
    display:none; 
    z-index:9999; 
    background:#F7F7F7; 
    border:1px solid #CCC; 
    padding:10px; 
    overflow:auto;    
}

.lnkShowAssociation {
   /* left: 30px !important;*/
   position: relative; 
    padding-left: 580px !important;
    padding-right: 10px !important;
   /* padding-bottom: 10px !important;
     bottom:370px;
   color: Blue !important;*/
}

.lnkBox table tr td{padding-left:5px;padding-right:3px;border:1px solid #CCC; }

.lnkBox table{border:2px solid #CCC; }

.lnkBox2 table tr td{padding-left:5px;padding-right:3px;border:1px solid #CCC; }

.lnkBox2 table{border:2px solid #CCC; }

.lnkBox2
{
position: absolute; 
    top:10px;
    left:100px;
    width:421px;
    display:none; 
    z-index:9999; 
    background:#F7F7F7; 
    border:1px solid #CCC; 
    padding:10px; 
    overflow:auto;    
}


  .lnkShowAssoc 
  {
      position: absolute;
      top: 350px;
 /* left: 30px !important;
    padding-left: 15px !important;*/
}

.AwardDate ul
{
    list-style: none;
	padding :0;
	margin:0;
 padding-left:10px;
   
   }
.AwardDate li
{
   display: inline;
   padding-right:10px;
    
}
 