﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web_Pages/MM_Rewards.Master" AutoEventWireup="true"
    CodeBehind="Hifi_Reports_Recive.aspx.cs" Inherits="MM_Rewards.Web_Pages.Reports.Hifi_Reports_recd" %>

<%@ Register src="../../UserControls/HifiReport.ascx" tagname="HifiReport" tagprefix="uc1" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PlaceholderAddtionalPageHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   
   
    <uc1:HifiReport ID="HifiReport1" runat="server" />
   
   
</asp:Content>
