﻿@import url(fonts.css);
body {
    font-family: 'Conv_EUROSTILELTSTD' !important;
}

.RadCalendar_Default .rcMainTable,
table.RadCalendarMonthView_Default,
.RadCalendar_Default .rcTitlebar table,
.RadCalendar_Default .rcTitlebar table tr td,
html body .RadInput_Default .riTextBox, html body .RadInputMgr_Default,
.RadCalendarMonthView_Default input,
.RadCalendarTimeView_Default th,
.RadCalendarTimeView a {
    font-family: 'Conv_EUROSTILELTSTD';
}

a {
    text-decoration: none;
}
.hmBan {
    background-color: transparent;
    background-image:url(../../images/new_images/homepagebg.jpg) !important;
    background-size: cover;
}
.main {
    position: relative;
}

div.mrLogo {
        width: auto;
        padding: 0 0 0 0;
        position: absolute;
        float: none;
        z-index: 1;
}
div.mrLogo img {
    width: 60%;
}
div.afsRec {
    width: auto;
    padding: 15px 0;
    margin-left: 17%;
}

.afsRec span {
    font-size: 22px;
    color: #fff;
}

div.header {
    width: 100%;
}

div.headHold {
        background-image: none;
        background-color: #e31837;
    }

.testimonialfooter {
        display: block;
        margin-top: 10px;
    }

        .testimonialfooter:before {
            content: '- ';
        }

.navHold {
    float: right;
    background: transparent !important;
}

.headHold, .navHold {
    clear: none !important;
}

div.navPan .topMenu ul li {
    border-right-color: rgba(255, 255, 255, 0.26) !important;
    border-left-color: transparent;
}
div.navPan .topMenu ul li a {
    padding: 21px 15px !important;
    font-size: 14px;
}
.slidH1 {
    background-image: url('../../images/new_images/testimonialbg.jpg');
    background-color: transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    height: 100%;
}

.tImg {
    text-align: center;
}

.tImgInner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 20px;
    background-color: #808080;
}

    .tImgInner > img {
        max-height: 100%;
        vertical-align: middle;
    }

div.header, div.navPan, div.ftData {
    width: auto;
}

.testimonialTitle {
    padding: 20px 0;
    display: block;
    font-weight: normal;
    color: #e31837;
    font-size: 22px;
    text-align: center;
}

li.bjqs-slide {
    padding: 0 20px 20px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    text-align: center;
}

div.ftHold {
    background-color: rgba(39, 39, 39, 0.64);
}

div.ftData {
    color: #fff;
    padding: 10px 15px;
}
.slidH {
    top: 7%;
    right: 5%;
}


div.navPan .userNm ul li {
    margin-top: 11px;
    /*padding: 4px 15px;*/
}

div.navPan .userNm ul li:nth-child(2) {
    margin-top: 14px;
    /*padding: 14px 15px;*/
}


div.innerHold {
    /*height: 85vh;
    background-color: transparent;
    background-image:url(../../images/new_images/innerpagebg.png);*/
}

.ltPan ul {
    margin-top: 25%;
}
div.ltPan ul li a {
    font-size: 14px;
    display: block;
    padding: 12px 20px;
}
div.ltPan ul li img {
    width: 24px;
}

textarea {
    padding: 10px;
    resize: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid #272727;
    background-color: transparent;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
        /*font-family: 'Conv_EUROSTILELTSTD' !important;*/
    font-size: 16px;

}
.RadPicker td a {
    z-index:inherit !important;
}

#MainMenu ul.dynamic {
    z-index: 3 !important;
}

.grid01 > span{
    font-size: 18px;
    color: #e31837;
    margin: 10px 0;
    display: block;
}

.RadPicker .rcCalPopup, .RadPicker .rcTimePopup {
    width: 22px !important;
    height: 22px !important;
}
.RadPicker_Default .rcCalPopup {
    background-image: url(../../images/new_images/calendar.png) !important;
    background-size: 20px;
}
.RadPicker_Default .rcTimePopup {
    background-image: url(../../images/new_images/clockicon.png) !important;
    background-size: 20px;
}
.RadPicker_Default a.rcCalPopup:hover, .RadPicker_Default a.rcCalPopup:focus, .RadPicker_Default a.rcCalPopup:active,
.RadPicker_Default .rcTimePopup, .RadPicker_Default a.rcDisabled.rcTimePopup:hover {
    background-position: 0 0 !important;
}
div.form01 .RadPicker table.rcTable td.rcInputCell input {
    border: none;
    border-bottom: 1px solid #272727;
    background: transparent;
}
.RadCalendar_Default .rcTitlebar,
.RadCalendarTimeView_Default th {
    background: #e31837 !important;
    color: #fff !important;
}

@media screen and (max-width: 767px) {
    .testimonialTitle {
        font-size: 16px;
        padding: 12px 0;
    }
    .slidH {
        top: 3%;
        right: 3%;
    }
    .tImgInner {
        width: 75px;
        height: 75px;
    }
    li.bjqs-slide {
        padding: 0 20px 12px;
    }
    div.navPan .topMenu ul li a {
        padding: 8px 15px !important;
        display: block;
    }
    div.navPan .topMenu ul li a {
        float: none;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    div.navPan .topMenu ul li a img {
        width: 20px;
        margin-right: 10px;
        vertical-align: middle;
    }
    .level1.static {
        width: 100% !important;
    }
    div.navPan .topMenu ul li.has-popup ul {
        width: 100% !important;
        z-index: 101 !important;
    }
    a[href="#MainMenu_SkipLink"] {
        display: none;
    }
}


@media screen and (min-width: 1920px) {

    div.afsRec {
        width: auto;
        padding: 25px 0;
        margin-left: 25%;
    }
    div.mrLogo img {
        width: auto;
    }
    .afsRec span {
        font-size: 32px;
    }
    div.navPan .topMenu ul li a {
        padding: 39px 25px !important;
    }
    div.navPan .userNm {
        padding: 25px 0;
    }

    div.navPan .userNm ul li {
        padding: 4px 15px;
    }

    div.navPan .userNm ul li:nth-child(2) {
        padding: 14px 15px;
    }
    .slidH {
        top: 22%;
    }
    .testimonialTitle {
        font-size: 24px;
    }

    div.ltPan ul li a {
        font-size: 18px;
    }

    div.ltPan ul li img {
        width: 34px;
    }
    div.rtPan h1, div.popup h1, div.faqData h1, div.faqData h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    div.navPan .topMenu ul li a {
        padding: 21px 12px !important;
    }
    div.ltPan ul li a {
        padding: 8px 10px;
    }
    .ltPan ul {
        margin-top: 0;
    }
    .navHold {
        position:relative;
        z-index: 2;
    }
}



.button6{
	color: rgba(255,255,255,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	border: 1px solid rgba(255,255,255,0.5);
	position: relative;	
}
.button6 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button6 span{
	z-index: 2;	
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;	
}
.button6::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
	background-color: rgba(255,255,255,0.5);
	-webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
	-webkit-transform: scale(0.5, 1);
	transform: scale(0.5, 1);
}
.button6:hover::before{
	opacity: 1;
	-webkit-transform: scale(1, 1);
	transform: scale(1, 1);
}
.SearchButtons input.btnLeft{
    background-image:url(../../images/new_images/Search.png);
    background-repeat: no-repeat;
    padding-left: 28px !important;
    background-position: 5px center;
}

.ftData p {
    margin-bottom: 0;
}
/*----by sneha----*/
.xs-show {
    display:none;
}
.header-top-xs-show {
    display:none;
}