* {
    margin: 0px;
    padding: 0px;
}

@font-face {
    font-family: 'EUROSTILE_LT_MEDIUM';
    src: url('../fonts/EUROSTILE_LT_MEDIUM.ttf');
}

@font-face {
    font-family: 'EUROSTILE_LT_CONDENSED';
    src: url('../fonts/EUROSTILE_LT_CONDENSED.ttf');
}

@font-face {
    font-family: 'EUROSTILE_LT_BOLD';
    src: url('../fonts/EUROSTILE_LT_BOLD.ttf');
}

.main_table {
    width: 600px;
}

mlogo {}

melogo {}
