﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Web_Pages/MM_Rewards.Master" AutoEventWireup="true" CodeBehind="BulkUploadFriends.aspx.cs" Inherits="MM_Rewards.BulkUploadFriends" %>

<%@ Register Src="~/UserControls/BulkUploadFriends.ascx" TagPrefix="uc1" TagName="BulkUploadFriends" %>

<asp:Content ID="Content1" ContentPlaceHolderID="PlaceholderAddtionalPageHead" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<uc1:BulkUploadFriends runat="server" id="ucBulkUploadFriends" />
</asp:Content>
