﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="HomePage.aspx.cs" Inherits="MM_Rewards.Authentication" %>

<!DOCTYPE html>
<html>
<head runat="server">
    <title>AFS Recognition Portal</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png">
    <link rel="manifest" href="../images/favicon/site.webmanifest">
    <link rel="icon" href="../images/favicon/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="../images/favicon/favicon.ico" type="image/x-icon" />


    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width = device-width, initial-scale=1.0, maximum-scale = 1.0" />
    <link href="../includes/css/bjqs.css" rel="stylesheet" />
    <link href="../includes/css/master.css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
	    <link rel="stylesheet" type="text/css" href="../includes/css/ie8_and_down.css" />
    <![endif]-->
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="/assets/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="/assets/css/style.css?ver=3">
    <link rel="stylesheet" href="/assets/css/responsive.css?ver=3">

    <style type="text/css">
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 999; /* Sit on top */
            padding-top: 10%; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0 0 0 / 28%) !important;
            /*background-color: rgba(0,0,0,1);*/
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            border: 1px solid #888;
            width: 360px;
            position: relative;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
            overflow: hidden;
            text-align: center;
        }

        .modal_inner {
            padding: 20px;
        }

            .modal_inner p {
                font-size: 16px;
                font-weight: bold;
            }
        /* The Close Button */
        .closemodal {
            color: #fff;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            right: 15px;
            top: 0;
        }

            .closemodal:hover,
            .closemodal:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }



        #banner-slide {
            height: 400px !important;
        }

        .bjqs li {
            padding: 10px;
        }

            .bjqs li img {
                max-width: 100%;
                height: 380px;
            }

        @media screen and (max-width: 767px) {
            .modal_inner {
                height: auto !important;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1024px) {
            html {
                height: 100%;
            }

            .dispnone {
                display: none;
            }
        }

        #homeMenu_SkipLink {
            display: none;
        }
    </style>
    <%--<script src="../Scripts/jquery_min.js" type="text/javascript"></script>--%>

    <%--  Added by Sandeep 03-04-2019 --%>
    <link href="../includes/css/newCustomStylesheet.css" rel="stylesheet" />

    <script src="../includes/Js/jquery-1.7.1.min.js"></script>

    <script type="text/javascript">

        function btnLogin_ClientClick(txtLoginTokenNumber, txtPassWord) {
            var txtLoginTokenNumber = document.getElementById(tx206929tLoginTokenNumber);
            var txtPassWord = document.getElementById(txtPassWord);

            var errmsg = "";

            if (txtLoginTokenNumber.value == '') {
                errmsg += "Login Token Number required! \n";
            }

            if (txtLoginTokenNumber.value == '') {
                errmsg += "Password required!";
            }

            if (errmsg != '') {
                alert(errmsg);
                return false;
            }
            return true;
        }

    </script>
    <script type="text/javascript">
        //$(document).ready(function () {
        //    var slW, liW, liLen, pos;
        //    liLen = $('.slider ul li').length;
        //    liW = $('.slider ul li').width();
        //    slW = $('.slider ul').width(liW * liLen);

        //    setInterval(rotate, 5000)

        //    function rotate() {
        //        pos = $('.slider ul li:eq(1)').position().left;
        //        cl = $('.slider ul li:eq(0)').clone(true);

        //        $('.slider ul').animate({ 'left': -pos }, 1000, function () {
        //            $('.slider ul').append(cl)
        //            $('.slider ul li:eq(0)').remove()
        //            $('.slider ul').css({ 'left': 0 })
        //        })

        //    }


        //})

    </script>
    <script src="../includes/Js/bjqs-1.3.js"></script>
    <script>
        jQuery(document).ready(function ($) {


            //if ($(window).width() < 767) {
            //    $('#banner-slide').bjqs({
            //        animtype: 'slide',
            //        height: '100%',
            //        width: 300,
            //        randomstart: true
            //    });
            //}
            //if (($(window).width() > 767) && ($(window).width() < 1025)) {
            //    $('#banner-slide').bjqs({
            //        animtype: 'slide',
            //        height: '100%',
            //        width: 500,
            //        randomstart: true
            //    });
            //}

            //if ($(window).width() == 1280) {
            //    $('#banner-slide').bjqs({
            //        animtype: 'slide',
            //        height: '100%',
            //        width: 600,
            //        randomstart: true
            //    });
            //}


            //if ($(window).width() == 1366) {
            //    $('#banner-slide').bjqs({
            //        animtype: 'slide',
            //        height: '100%',
            //        width: 600,
            //        randomstart: true
            //    });
            //}

            //if ($(window).width() == 1920) {
            //    $('#banner-slide').bjqs({
            //        animtype: 'slide',
            //        height: '100%',
            //        //width: 690,
            //        //responsive: true,
            //        randomstart: true
            //    });
            //}

            //if ($(window).width() <= 767) {
            //    $('#banner-slide').bjqs({
            //        height: 120,
            //        width: 300
            //    });
            //}

        });
    </script>
</head>
<body id="HomeBody" runat="server">
    <img src="/assets/images/hod-bg.png" class="img-fluid home-bg" />
    <img src="/assets/images/hod-bg-mobilr.jpg" class="img-fluid hod-mobile" />
    <form id="form" runat="server">
        <div class="home_header_menu">
            <div class="headHold" id="">
                <%--<div class="header">--%>
                <div class="logo">
                    <!--    <div class="mahindra-logo"> </div> -->
                    <a href="/Web_Pages/HomePage.aspx" class="rise-logo">
                        <!--             <img src="assets/images/Mahindra-Rise-White.png" alt="logo" class="img-fluid"> -->
                        <img src="/assets/images/Logo.png" alt="logo" class="img-fluid new-r-logo">
                         <%--<div class="xs-show">
                             <img src="/assets/images/mwhitelogo.jpg" alt="logo" class="">
                         </div>--%>
                    </a>
                    <h3 class="heading-topp">AFS RECOGNITION PORTAL</h3>
                </div>
                <%--<div class="header-top-xs-show"><h3 class="heading-topp">AFS RECOGNITION PORTAL</h3></div>--%>
                <div class="right-nav">
                    <div class="navPan">
                        <div class="topMenu">
                            <label for="show-mainmenu" class="show-mainmenu">
                                <%--Menu--%>
                                <img src="../Images/respmenu.png" style="float: right;" />
                                <span style="clear: both;"></span>
                            </label>
                            <input type="checkbox" id="show-mainmenu" role="button" />
                            <asp:Menu CssClass="topMenu" ID="homeMenu" Orientation="Horizontal" DisappearAfter="0"
                                runat="server" StaticDisplayLevels="1" MaximumDynamicDisplayLevels="1" DynamicEnableDefaultPopOutImage="false"
                                StaticEnableDefaultPopOutImage="false" StaticSubMenuIndent="20">
                            </asp:Menu>
                        </div>
                        <div class="userNm">
                            <ul>
                                <li class="prof-account">
                                    <img src="/assets/images/u1.png" alt="logo" class="img-fluid">
                                        <%--<asp:Label ID="lblWelcomeUser" runat="server" Text=""></asp:Label>--%> 
                                </li>

                                <li>
                                    <asp:LinkButton ID="btnSignOut" runat="server" Text="" CssClass="signOut"
                                        OnClick="btnSignOut_Click"></asp:LinkButton>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div style="clear: both;"></div>
                <%--</div>--%>
            </div>
        </div>
        <%--<div><asp:Label ID="lblErrorMsgs" runat="server" style="color:#fff"></asp:Label></div>--%>

        <section class="main-head-wrap">

            <div class="main-head-div">
                <h1>Rewards <span>& </span></h1>
                <h2>Recognition</h2>
            </div>

        </section>

        <section class="testimonial_wrap">

            <div class="row">
                <div class="col-md-6 offset-md-6">
                    <div class="testimonial_inner">
                        <%--                                    <asp:Repeater ID="rpttestimonial" runat="server">
                                        <HeaderTemplate>

                                            <ul class="bjqs">
                                        </HeaderTemplate>
                                        <ItemTemplate>
                                            <li>
                                                <div class="tImg">
                                                    <div class="tImgInner">
                                                        <asp:Image ID="Image" runat="server" ImageUrl='<%# "/TestimoinalImage/"+ Eval("ImageName") %>' />
                                                    </div>
                                                </div>
                                                <div class="tData">
                                                    <asp:Label ID="lblTesti" runat="server" Text='<%# Eval("TestimonoialText") %>'></asp:Label><br />
                                                    
                                                    <asp:Label ID="Label1" runat="server" class="testimonialfooter" Text='<%# Eval("EmployeeName") %>'></asp:Label>

                                                </div>
                                                <div style="clear: both"></div>

                                            </li>


                                        </ItemTemplate>
                                        <FooterTemplate>
                                            </ul>
                                   
                                        </FooterTemplate>
                                    </asp:Repeater>--%>
                        <ul>

                            <li data-value="testi1">
                                <div class="testi-box">
                                    <div class="testi-img width-mid">
                                        <a href="#">
                                            <asp:Image ID="Image1" runat="server" Height="60px" Width="60px" Visible="false" />

                                        </a>
                                    </div>
                                    <div class="testimain">
                                        <p>
                                            <asp:Label ID="lblImage1" runat="server" Visible="false"></asp:Label>
                                        </p>
                                        <h6>
                                            <asp:Label ID="lblName1" runat="server" Visible="false"></asp:Label>
                                        </h6>
                                    </div>
                                </div>
                            </li>

                            <li data-value="testi2">

                                <div class="testi-box">
                                    <div class="testi-img width-mid">
                                        <a href="#">
                                            <asp:Image ID="Image2" runat="server" Height="60px" Width="60px"  Visible="false"/>

                                        </a>
                                    </div>
                                    <div class="testimain">
                                        <p>
                                            <asp:Label ID="lblImage2" runat="server" Visible="false"></asp:Label>
                                        </p>
                                        <h6>
                                            <asp:Label ID="lblName2" runat="server" Visible="false"></asp:Label>
                                        </h6>
                                    </div>
                                </div>
                            </li>
                            <li data-value="testi3">
                                <div class="testi-box">
                                    <div class="testi-img width-mid">
                                        <a href="#">
                                            <asp:Image ID="Image3" runat="server" Height="60px" Width="60px" Visible="false" />

                                        </a>
                                    </div>
                                    <div class="testimain">
                                        <p>
                                            <asp:Label ID="lblImage3" runat="server" Visible="false"></asp:Label>
                                        </p>
                                        <h6>
                                            <asp:Label ID="lblName3" runat="server" Visible="false" ></asp:Label>
                                        </h6>
                                    </div>
                                </div>
                            </li>

                            <li data-value="testi4">
                                <div class="testi-box">
                                    <div class="testi-img width-mid">
                                        <a href="#">
                                            <asp:Image ID="Image4" runat="server" Height="60px" Width="60px" Visible="false" />

                                        </a>
                                    </div>
                                    <div class="testimain">
                                        <p>
                                            <asp:Label ID="lblImage4" runat="server" Visible="false"></asp:Label>
                                        </p>
                                        <h6>
                                            <asp:Label ID="lblName4" runat="server" Visible="false"></asp:Label>
                                        </h6>
                                    </div>
                                </div>
                            </li>

                            <li data-value="testi5">
                                <div class="testi-box">
                                    <div class="testi-img width-mid">
                                        <a href="#">
                                            <asp:Image ID="Image5" runat="server" Height="60px" Width="60px"  Visible="false"/>

                                        </a>
                                    </div>
                                    <div class="testimain">
                                        <p>
                                            <asp:Label ID="lblImage5" runat="server" Visible="false" ></asp:Label>
                                        </p>
                                        <h6>
                                            <asp:Label ID="lblName5" runat="server" Visible="false" ></asp:Label>
                                        </h6>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </section>


        <section class="big-btn">
            <a href="/Web_Pages/Rewards/RecipientAward.aspx">
                <svg xmlns="http://www.w3.org/2000/svg" width="74.203" height="58.257" viewBox="0 0 74.203 58.257">
                    <g id="Group_3533" data-name="Group 3533" transform="translate(1.39 1)">
                        <path id="Path_7414" data-name="Path 7414" d="M1589.895,1373.6l18.717,18.717,7-6.932a3.018,3.018,0,0,0,0-4.3l-13.809-13.809a3.853,3.853,0,0,0-5.809,0C1592.937,1370.333,1589.895,1373.6,1589.895,1373.6Z" transform="translate(-1589.895 -1336.468)" fill="none" stroke="#cfb53b" stroke-width="2" />
                        <path id="Path_7415" data-name="Path 7415" d="M1640.551,1356.6l19.345.383s3.466.139,7.417-3.813,16.568-16.429,16.568-16.429,3.56-3.368.416-7.14-6.793,0-6.793,0l-7.907,7.907h-18.5s-7.972-2.639-14.557-1.946a21.458,21.458,0,0,0-11.394,5.36Z" transform="translate(-1613.798 -1310.702)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7416" data-name="Path 7416" d="M1698.242,1366.111h19.826s3.12-.109,3.12-4.09-3.37-4.18-3.37-4.18" transform="translate(-1663.374 -1330.992)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        <path id="ic_radio_button_unchecked_24px" d="M20.053,30.789A10.736,10.736,0,1,1,30.789,20.053,10.733,10.733,0,0,1,20.053,30.789Z" transform="translate(20.456 -9.318)" fill="none" stroke="#cfb53b" stroke-width="2" />
                        <path id="ic_star_border_24px" d="M13.114,6.023l-4-.345L7.557,2,6,5.684,2,6.023,5.034,8.652l-.911,3.906,3.434-2.073,3.434,2.073-.906-3.906Z" transform="translate(32.951 3.178)" fill="#cfb53b" stroke="#cfb53b" stroke-linecap="round" stroke-linejoin="round" stroke-width="1" />
                    </g>
                </svg>
                <div class="big-btn-text">
                    <span class="small-txt">give</span>
                    <span class="big-txt">awards</span>
                </div>
            </a>
            <a href="/Web_Pages/Rewards/GiveECard.aspx">

                <svg xmlns="http://www.w3.org/2000/svg" width="79.636" height="65.984" viewBox="0 0 79.636 65.984">
                    <g id="Group_3548" data-name="Group 3548" transform="translate(1.019 1)">
                        <g id="Path_7432" data-name="Path 7432" transform="translate(51.1 46.122) rotate(30)" fill="none">
                            <path d="M3.129.709c1.479.322,1.622,1.918,2.789,1.93S7.292.506,8.363.079s1.463,1.006,2.5,1.022A2.132,2.132,0,0,0,12.524.144l.042,14.381L6.444,11.1,0,14.525.007,2.511A7.792,7.792,0,0,0,3.129.709Z" stroke="none" />
                            <path d="M 8.738834381103516 1.006020545959473 C 8.736928939819336 1.006734848022461 8.734897613525391 1.007519721984863 8.73273754119873 1.008379936218262 C 8.573297500610352 1.071860313415527 8.287957191467285 1.583849906921387 8.13466739654541 1.858909606933594 C 7.715887069702148 2.610340118408203 7.142357349395752 3.639439582824707 5.927287101745605 3.639439582824707 L 5.907227516174316 3.639339447021484 C 4.867237091064453 3.628629684448242 4.298617362976074 2.944379806518555 3.883427619934082 2.444760322570801 C 3.66736888885498 2.184767723083496 3.501317977905273 1.991934776306152 3.315919876098633 1.861537933349609 C 2.42414665222168 2.572120666503906 1.584164619445801 2.991514205932617 1.006214141845703 3.225701332092285 L 1.000913619995117 12.85974311828613 L 5.97418737411499 10.21467971801758 L 6.456007480621338 9.958419799804688 L 6.932207107543945 10.22497940063477 L 11.56119918823242 12.81613636016846 L 11.52956199645996 2.024632453918457 C 11.33227348327637 2.073104858398438 11.11975765228271 2.101289749145508 10.89227676391602 2.101289749145508 C 10.87872695922852 2.101289749145508 10.86505699157715 2.101180076599121 10.85101699829102 2.100970268249512 C 10.02263736724854 2.088059425354004 9.459987640380859 1.601619720458984 9.087677001953125 1.279729843139648 C 8.979400634765625 1.186120986938477 8.821004867553711 1.04918098449707 8.738834381103516 1.006020545959473 M 8.747776031494141 9.5367431640625e-07 C 9.546558380126953 -2.47955322265625e-05 9.961025238037109 1.086978912353516 10.86659717559814 1.101089477539063 C 10.87516975402832 1.101222991943359 10.88375949859619 1.101289749145508 10.89227390289307 1.101289749145508 C 11.91709232330322 1.101289749145508 12.52405738830566 0.1441497802734375 12.52405738830566 0.1441497802734375 L 12.56621742248535 14.52472019195557 L 6.443757057189941 11.09757041931152 L -2.86102294921875e-06 14.52472019195557 L 0.0066070556640625 2.511489868164063 C 0.0066070556640625 2.511489868164063 1.526357650756836 2.160379409790039 3.128507614135742 0.7090597152709961 C 4.607887268066406 1.031219482421875 4.75003719329834 2.62736988067627 5.917527198791504 2.639389991760254 C 5.92073392868042 2.639422416687012 5.924093723297119 2.639440536499023 5.927285671234131 2.639440536499023 C 7.086318492889404 2.639440536499023 7.29448938369751 0.5047082901000977 8.362796783447266 0.07931995391845703 C 8.501543045043945 0.02407360076904297 8.628927230834961 4.76837158203125e-06 8.747776031494141 9.5367431640625e-07 Z" stroke="none" fill="#cfb53b" />
                        </g>
                        <g id="Path_7440" data-name="Path 7440" transform="translate(78.617 58.472) rotate(150)" fill="none">
                            <path d="M3.3,13.94c.488-.222,1.334-1.813,2.846-1.945,1,.1,1.422,1.909,2.626,2.33s1.361.212,2.192-.648,1.6.3,1.6.3V0L6.444,3.427,0,0,.146,12.117A23.194,23.194,0,0,1,3.3,13.94Z" stroke="none" />
                            <path d="M 9.67928409576416 13.53379917144775 C 9.775578498840332 13.47170257568359 9.990850448608398 13.24870777130127 10.18217849731445 13.05052185058594 L 10.24923801422119 12.98110198974609 C 10.72363662719727 12.49045467376709 11.21835708618164 12.36966705322266 11.56527233123779 12.3596134185791 L 11.56608772277832 1.705849647521973 L 6.932208061218262 4.299741744995117 L 6.456008434295654 4.566301822662354 L 5.974188327789307 4.310041427612305 L 1.020280241966248 1.675277709960938 L 1.138673543930054 11.49100875854492 C 1.641907453536987 11.74765682220459 2.415144681930542 12.16325569152832 3.205485582351685 12.66927719116211 C 3.772350311279297 12.05878067016602 4.691841125488281 11.11825084686279 6.062638282775879 10.99849128723145 L 6.154618263244629 10.99045181274414 L 6.246508121490479 10.99939155578613 C 7.192748069763184 11.09145164489746 7.75087833404541 11.84916114807129 8.199337959289551 12.45799160003662 C 8.494698524475098 12.85897159576416 8.800118446350098 13.27360153198242 9.105288505554199 13.38010120391846 C 9.461860656738281 13.50453567504883 9.615541458129883 13.5306921005249 9.67928409576416 13.53379917144775 M 9.692480087280273 14.53414154052734 C 9.460504531860352 14.53414154052734 9.17592716217041 14.46389198303223 8.775808334350586 14.32426166534424 C 7.571188449859619 13.90389156341553 7.1462082862854 12.09164142608643 6.149678230285645 11.99469184875488 C 4.638078212738037 12.1267614364624 3.792358160018921 13.71780204772949 3.303998231887817 13.94015121459961 C 1.843818187713623 12.90578174591064 0.1461482346057892 12.11697196960449 0.1461482346057892 12.11697196960449 L -1.765594447533658e-06 1.605682427907595e-06 L 6.443758010864258 3.427151679992676 L 12.56621837615967 1.605682427907595e-06 L 12.56514835357666 13.9762716293335 C 12.56514835357666 13.9762716293335 12.15759563446045 13.35889911651611 11.61429500579834 13.35889911651611 C 11.41295528411865 13.35889911651611 11.19291687011719 13.44373512268066 10.96814823150635 13.67620182037354 C 10.41297435760498 14.25038909912109 10.15890216827393 14.53414154052734 9.692480087280273 14.53414154052734 Z" stroke="none" fill="#cfb53b" />
                        </g>
                        <g id="Union_1" data-name="Union 1" transform="translate(44.437 20.383)" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path d="M13.927,31.015,13.848,31a2.781,2.781,0,0,1-5.092-2.058L8.689,28.9a2.781,2.781,0,0,1-3.951-3.815l-.046-.065A2.78,2.78,0,0,1,2.457,20l-.018-.079a2.78,2.78,0,0,1-.191-5.488c.017-.111.035-.221.055-.331A2.78,2.78,0,0,1,4.272,8.978c.059-.095.119-.189.18-.282a2.781,2.781,0,0,1,3.816-3.95c.091-.064.183-.128.275-.19A2.781,2.781,0,0,1,13.6,2.409q.164-.035.329-.067a2.781,2.781,0,0,1,5.492,0l.079.015a2.781,2.781,0,0,1,5.092,2.058l.067.044a2.78,2.78,0,0,1,3.951,3.815l.046.065a2.78,2.78,0,0,1,2.236,5.016l.018.079a2.78,2.78,0,0,1,.19,5.488c-.017.111-.035.22-.055.33a2.78,2.78,0,0,1-1.969,5.126c-.059.095-.119.189-.18.282a2.781,2.781,0,0,1-3.816,3.95c-.091.064-.183.128-.275.19a2.781,2.781,0,0,1-5.055,2.147q-.164.035-.329.066a2.781,2.781,0,0,1-5.492,0Z" stroke="none" />
                            <path d="M 16.6733283996582 31.85745620727539 C 17.29719924926758 31.85745620727539 17.84081840515137 31.39456558227539 17.93782997131348 30.78073692321777 C 18.03664016723633 30.15557670593262 18.51721954345703 29.65969657897949 19.13897895812988 29.54135704040527 C 19.23733901977539 29.52263641357422 19.33650016784668 29.50257682800293 19.4337100982666 29.48174667358398 C 19.53862571716309 29.45926094055176 19.64396095275879 29.4483528137207 19.748291015625 29.4483528137207 C 20.25817489624023 29.4483528137207 20.74260520935059 29.70913505554199 21.0203685760498 30.15391540527344 C 21.25123023986816 30.52361679077148 21.66707992553711 30.75325584411621 22.10562896728516 30.75323677062988 C 22.27670860290527 30.75322532653809 22.44476890563965 30.71871566772461 22.6051197052002 30.65067672729492 C 23.17966842651367 30.40685653686523 23.49913024902344 29.7684268951416 23.34820938110352 29.16561698913574 C 23.19467926025391 28.55237579345703 23.44209861755371 27.9086971282959 23.96686935424805 27.55618667602539 C 24.04901885986328 27.50099563598633 24.1322193145752 27.44371604919434 24.21415901184082 27.38591575622559 C 24.47335433959961 27.2031135559082 24.77596282958984 27.11171531677246 25.07870101928711 27.11171531677246 C 25.38003730773926 27.11171531677246 25.68150520324707 27.20235824584961 25.93997955322266 27.38363647460938 C 26.15443992614746 27.53403663635254 26.40769004821777 27.61351585388184 26.67239952087402 27.61349678039551 C 27.02322959899902 27.61347579956055 27.35054016113281 27.47463607788086 27.59400939941406 27.22257614135742 C 28.02733993530273 26.77393531799316 28.07174873352051 26.06153678894043 27.69731903076172 25.56546592712402 C 27.31591987609863 25.06016540527344 27.29281997680664 24.36981582641602 27.63958930969238 23.84015655517578 C 27.69413948059082 23.7568359375 27.74856948852539 23.67158699035645 27.80136871337891 23.58676528930664 C 28.07890892028809 23.14096260070801 28.56388282775879 22.87943840026855 29.07454299926758 22.87943840026855 C 29.17835426330566 22.87943840026855 29.28324317932129 22.89024925231934 29.38764953613281 22.91251564025879 C 29.47416877746582 22.93097686767578 29.56264877319336 22.94032669067383 29.65067863464355 22.94031524658203 C 30.17714881896973 22.94027709960938 30.65765953063965 22.60994529724121 30.84648895263672 22.11805534362793 C 31.07003021240234 21.53606605529785 30.83255958557129 20.86298561096191 30.29409980773926 20.55240631103516 C 29.74687957763672 20.23677635192871 29.45605850219727 19.61211585998535 29.56678009033203 18.99016571044922 C 29.58444976806641 18.89086532592773 29.60054969787598 18.7939453125 29.61598968505859 18.69387626647949 C 29.71253967285156 18.06818580627441 30.19153022766113 17.57047653198242 30.81305885314941 17.45002555847168 C 31.42351913452148 17.33171653747559 31.86738967895508 16.77252578735352 31.84552955627441 16.14899635314941 C 31.82380867004395 15.52578639984131 31.34244918823242 14.99894618988037 30.72583961486816 14.92351627349854 C 30.0975284576416 14.84665584564209 29.5851001739502 14.38364601135254 29.44511985778809 13.76632595062256 L 29.42891883850098 13.69593620300293 C 29.28557968139648 13.08051586151123 29.54328918457031 12.44126605987549 30.07337951660156 12.09733581542969 C 30.59447860717773 11.75923633575439 30.79615020751953 11.07483577728271 30.54243850708008 10.50525665283203 C 30.33679962158203 10.04348659515381 29.87722015380859 9.745116233825684 29.37162017822266 9.745116233825684 C 29.26104927062988 9.745116233825684 29.15071868896484 9.759716033935547 29.0436897277832 9.788506507873535 C 28.91441345214844 9.823287010192871 28.78355026245117 9.840105056762695 28.65398979187012 9.840105056762695 C 28.17164039611816 9.840105056762695 27.70853805541992 9.606715202331543 27.42350006103516 9.197855949401855 L 27.38260841369629 9.139586448669434 C 27.01754951477051 8.62220573425293 27.01669883728027 7.931316375732422 27.38047981262207 7.413046360015869 C 27.73761940002441 6.904236316680908 27.66841888427734 6.19377613067627 27.21935844421387 5.760306358337402 C 26.97945022583008 5.528656005859375 26.66371917724609 5.401076316833496 26.33031845092773 5.401076316833496 C 26.04902839660645 5.401076316833496 25.78304862976074 5.489596366882324 25.56114959716797 5.657066345214844 C 25.29449462890625 5.858312606811523 24.97633743286133 5.959778785705566 24.65743064880371 5.959778785705566 C 24.37215805053711 5.959778785705566 24.08627891540527 5.878565788269043 23.83621978759766 5.714936256408691 L 23.77610015869141 5.675826072692871 C 23.24527931213379 5.332576274871826 22.98660850524902 4.693386077880859 23.12932968139648 4.077576160430908 C 23.26964950561523 3.472086191177368 22.93912887573242 2.839186191558838 22.36061859130859 2.60546612739563 C 22.20612907409668 2.543066263198853 22.04494857788086 2.511426210403442 21.88152885437012 2.511426210403442 C 21.43400955200195 2.511426210403442 21.01372909545898 2.748476266860962 20.78468894958496 3.130076169967651 C 20.51015853881836 3.58746337890625 20.01851081848145 3.85821270942688 19.49888038635254 3.85821270942688 C 19.40327644348145 3.85821270942688 19.30669784545898 3.849043369293213 19.21037864685059 3.830186128616333 L 19.13902854919434 3.81640625 C 18.51718902587891 3.698046207427979 18.03657913208008 3.202046155929565 17.93787002563477 2.576776266098022 C 17.8409595489502 1.962916254997253 17.29731941223145 1.499996185302734 16.6733283996582 1.499996185302734 C 16.04932975769043 1.499996185302734 15.50568962097168 1.962916254997253 15.40876960754395 2.576786279678345 C 15.31004905700684 3.202056169509888 14.82942962646484 3.698056221008301 14.20757961273193 3.816416263580322 C 14.109299659729 3.835116147994995 14.01005935668945 3.855196237564087 13.91262912750244 3.876076221466064 C 13.80771827697754 3.898562431335449 13.70236492156982 3.909472465515137 13.59803867340088 3.909472465515137 C 13.08817481994629 3.909472465515137 12.60377407073975 3.64872145652771 12.32600975036621 3.20396614074707 C 12.09497928619385 2.834046125411987 11.67895889282227 2.604246139526367 11.240309715271 2.604246139526367 C 11.06943893432617 2.604246139526367 10.90154933929443 2.638726234436035 10.74121952056885 2.706786155700684 C 10.16660976409912 2.950616121292114 9.847168922424316 3.589226245880127 9.998159408569336 4.192236423492432 C 10.15171909332275 4.805476188659668 9.904329299926758 5.449156284332275 9.379589080810547 5.801696300506592 C 9.297109603881836 5.85710620880127 9.213919639587402 5.914376258850098 9.132349014282227 5.971916198730469 C 8.873177528381348 6.154704570770264 8.570521354675293 6.246116161346436 8.26780891418457 6.246116161346436 C 7.966350555419922 6.246116161346436 7.664836883544922 6.155434131622314 7.406289100646973 5.97403621673584 C 7.19167947769165 5.823466300964355 6.938259124755859 5.743875980377197 6.673409461975098 5.743875980377197 C 6.322919368743896 5.743875980377197 5.995859146118164 5.882686138153076 5.752329349517822 6.134886264801025 C 5.318879127502441 6.583646297454834 5.274479389190674 7.296205997467041 5.649059295654297 7.792366027832031 C 6.030559539794922 8.297696113586426 6.053679466247559 8.98814582824707 5.706839561462402 9.517856597900391 C 5.652579307556152 9.600726127624512 5.598249435424805 9.685826301574707 5.545359134674072 9.770786285400391 C 5.267808437347412 10.2166051864624 4.782874584197998 10.47811126708984 4.272189140319824 10.47811126708984 C 4.168416976928711 10.47811126708984 4.063506603240967 10.46730041503906 3.959139347076416 10.44504642486572 C 3.87256932258606 10.42658615112305 3.78395938873291 10.41722583770752 3.695749282836914 10.41722583770752 C 3.169219255447388 10.41722583770752 2.688669443130493 10.74751663208008 2.499949216842651 11.23912620544434 C 2.276399374008179 11.82146644592285 2.513809442520142 12.49461650848389 3.052179336547852 12.80493640899658 C 3.599629402160645 13.12050628662109 3.890619277954102 13.74530601501465 3.779869318008423 14.36741638183594 C 3.762429237365723 14.46534633636475 3.745869398117065 14.56508636474609 3.730619430541992 14.66386604309082 C 3.634049415588379 15.28965663909912 3.154919385910034 15.7874059677124 2.53326940536499 15.90775585174561 C 1.922939300537109 16.02590560913086 1.479079365730286 16.58508682250977 1.500799298286438 17.20815658569336 C 1.522659301757813 17.83148574829102 2.004319429397583 18.35856628417969 2.621199369430542 18.43417549133301 C 3.249149322509766 18.51115608215332 3.76129937171936 18.97385597229004 3.901429414749146 19.59079551696777 L 3.91771936416626 19.66158676147461 C 4.06110954284668 20.27698707580566 3.80346941947937 20.91623687744141 3.273429393768311 21.26022529602051 C 2.752299308776855 21.59843635559082 2.550569295883179 22.28296661376953 2.804269313812256 22.85264587402344 C 3.009799242019653 23.31427574157715 3.469489336013794 23.6125659942627 3.975379228591919 23.6125659942627 C 4.085959434509277 23.6125659942627 4.196289539337158 23.59797668457031 4.303309440612793 23.56920623779297 C 4.432490348815918 23.53447914123535 4.563264846801758 23.51768493652344 4.692725658416748 23.51768493652344 C 5.175057888031006 23.51768493652344 5.638126373291016 23.75104331970215 5.923169136047363 24.15985679626465 L 5.964129447937012 24.21822547912598 C 6.329139232635498 24.73557662963867 6.329999446868896 25.42639541625977 5.96627950668335 25.94465637207031 C 5.609129428863525 26.45354652404785 5.678279399871826 27.16403579711914 6.127279281616211 27.59745597839355 C 6.367299556732178 27.8292064666748 6.683089256286621 27.95682525634766 7.016499519348145 27.95681571960449 C 7.297789096832275 27.95681571960449 7.563769340515137 27.8682861328125 7.785679340362549 27.7008056640625 C 8.052350997924805 27.49954032897949 8.370480537414551 27.39808464050293 8.689403533935547 27.39808464050293 C 8.974762916564941 27.39808464050293 9.260772705078125 27.4793643951416 9.510879516601563 27.64309692382813 L 9.57090950012207 27.68215560913086 C 10.10140895843506 28.02543640136719 10.35989952087402 28.66435623168945 10.21732902526855 29.27994537353516 C 10.07705974578857 29.88559532165527 10.40757942199707 30.51860618591309 10.98603916168213 30.75231552124023 C 11.14051914215088 30.81470680236816 11.30168914794922 30.84634590148926 11.46507930755615 30.84633636474609 C 11.9127197265625 30.84631538391113 12.33307933807373 30.60926628112793 12.56211948394775 30.22767639160156 C 12.83666610717773 29.77028656005859 13.3283052444458 29.49956512451172 13.84792900085449 29.49956512451172 C 13.94366645812988 29.49956512451172 14.04041004180908 29.50876426696777 14.13685894012451 29.52767562866211 L 14.2076997756958 29.54136657714844 C 14.82944965362549 29.65971565246582 15.31000900268555 30.15558624267578 15.4088191986084 30.78073692321777 C 15.50582885742188 31.39456558227539 16.04945945739746 31.85745620727539 16.6733283996582 31.85745620727539 M 16.6733283996582 33.35745620727539 C 15.28669929504395 33.35745620727539 14.13703918457031 32.34252548217773 13.92720890045166 31.01490592956543 C 13.90109920501709 31.00993537902832 13.87428951263428 31.00475692749023 13.84822940826416 30.99964714050293 C 13.34006786346436 31.84624862670898 12.4247932434082 32.34629821777344 11.4651346206665 32.34634017944336 C 11.11824131011963 32.34635543823242 10.76565170288086 32.28103637695313 10.42424964904785 32.14313507080078 C 9.138399124145508 31.62362670898438 8.452619552612305 30.25145530700684 8.756009101867676 28.94149589538574 C 8.733709335327148 28.92706680297852 8.711499214172363 28.91262626647949 8.689289093017578 28.89808654785156 C 8.196466445922852 29.27002143859863 7.606760501861572 29.45680236816406 7.016532897949219 29.45681571960449 C 6.321159839630127 29.45683288574219 5.625035285949707 29.19761657714844 5.085369110107422 28.67653656005859 C 4.087299346923828 27.71310615539551 3.96588921546936 26.18381690979004 4.738479137420654 25.08296585083008 C 4.72292947769165 25.06092643737793 4.708159446716309 25.0399055480957 4.692729473114014 25.01777648925781 C 4.454961776733398 25.08170127868652 4.213944911956787 25.11256790161133 3.975383996963501 25.11256790161133 C 2.910649299621582 25.11256980895996 1.894736766815186 24.49771308898926 1.43394935131073 23.46273612976074 C 0.8699393272399902 22.19626617431641 1.329379320144653 20.73368644714355 2.456849336624146 20.00197601318359 C 2.450749397277832 19.97579574584961 2.444649219512939 19.94927597045898 2.438689231872559 19.92303657531738 C 1.104479312896729 19.75948524475098 0.05029932782053947 18.64615631103516 0.001719326130114496 17.26071548461914 C -0.04659067466855049 15.87489604949951 0.9280393123626709 14.69066619873047 2.248169422149658 14.43509578704834 C 2.26526927947998 14.32428646087646 2.283509254455566 14.21448612213135 2.303089380264282 14.10450649261475 C 1.138299345970154 13.43310642242432 0.6026593446731567 11.99604606628418 1.099589347839355 10.70155620574951 C 1.523990392684937 9.595981597900391 2.577962875366211 8.917230606079102 3.695744752883911 8.917230606079102 C 3.886928558349609 8.917230606079102 4.079864978790283 8.937067031860352 4.27195930480957 8.978026390075684 C 4.330809116363525 8.883496284484863 4.390979290008545 8.789236068725586 4.451919555664063 8.696166038513184 C 3.641659259796143 7.622916221618652 3.709899425506592 6.090326309204102 4.673439502716064 5.092776298522949 C 5.218850612640381 4.527945995330811 5.945724010467529 4.243880271911621 6.673409938812256 4.243880271911621 C 7.231435775756836 4.243880271911621 7.789852619171143 4.410778522491455 8.26780891418457 4.746116161346436 C 8.358609199523926 4.682075977325439 8.450789451599121 4.618606090545654 8.543088912963867 4.556596279144287 C 8.216449737548828 3.252156257629395 8.878189086914063 1.867896199226379 10.15525913238525 1.325966238975525 C 10.50974464416504 1.175503253936768 10.87801361083984 1.104251027107239 11.24031162261963 1.104251027107239 C 12.18231678009033 1.104251027107239 13.083984375 1.585936784744263 13.59826946258545 2.409386157989502 C 13.70739936828613 2.385996103286743 13.81709957122803 2.363806247711182 13.92711925506592 2.342866182327271 C 14.13672924041748 1.01521623134613 15.28650951385498 -3.803711024374934e-06 16.6733283996582 -3.803711024374934e-06 C 18.06013870239258 -3.803711024374934e-06 19.20991897583008 1.01521623134613 19.41951942443848 2.342866182327271 C 19.44562911987305 2.347836256027222 19.47251892089844 2.353036165237427 19.49856948852539 2.358136177062988 C 20.00666427612305 1.511591553688049 20.9218864440918 1.011425852775574 21.88153457641602 1.011425852775574 C 22.22842216491699 1.011425852775574 22.58097267150879 1.076723337173462 22.92239952087402 1.214636206626892 C 24.20833969116211 1.734176158905029 24.89414978027344 3.106406211853027 24.59059906005859 4.416226387023926 C 24.61289978027344 4.430646419525146 24.63533020019531 4.445236206054688 24.65754890441895 4.459776401519775 C 25.15032768249512 4.087878227233887 25.74003410339355 3.901078939437866 26.330322265625 3.901078939437866 C 27.02559280395508 3.901078939437866 27.7216796875 4.160204410552979 28.26128005981445 4.681226253509521 C 29.25942993164063 5.644726276397705 29.38076972961426 7.174176216125488 28.60822868347168 8.274806022644043 C 28.62351989746094 8.296476364135742 28.63881874084473 8.318256378173828 28.65398979187012 8.34001636505127 C 28.89179992675781 8.276031494140625 29.13301467895508 8.245113372802734 29.37162017822266 8.245113372802734 C 30.43612098693848 8.245113372802734 31.45168495178223 8.859825134277344 31.91269874572754 9.895026206970215 C 32.47674942016602 11.16130638122559 32.01721954345703 12.62419605255127 30.88982009887695 13.35567665100098 C 30.89591979980469 13.38186645507813 30.90202903747559 13.40837574005127 30.90797996520996 13.43461608886719 C 32.24208831787109 13.59781646728516 33.29631805419922 14.71119594573975 33.34461975097656 16.09673690795898 C 33.39320755004883 17.4825553894043 32.41835021972656 18.66682624816895 31.09844970703125 18.92262649536133 C 31.08134841918945 19.03344535827637 31.06313896179199 19.14306640625 31.04356002807617 19.25305557250977 C 32.20800018310547 19.92469596862793 32.74393081665039 21.36148643493652 32.24674987792969 22.65589714050293 C 31.82237434387207 23.76139450073242 30.76836585998535 24.44023895263672 29.65078926086426 24.44031715393066 C 29.45963859558105 24.44033050537109 29.26681900024414 24.42048835754395 29.07476997375488 24.37952613830566 C 29.01591873168945 24.47405624389648 28.95549011230469 24.56870651245117 28.8945484161377 24.66178703308105 C 29.70446014404297 25.73479652404785 29.6363697052002 27.26718711853027 28.67290878295898 28.26467704772949 C 28.12740898132324 28.82942962646484 27.40032768249512 29.11344528198242 26.67250061035156 29.11350059509277 C 26.11464500427246 29.1135425567627 25.55643844604492 28.94676399230957 25.07869911193848 28.61171531677246 C 24.98789978027344 28.67575645446777 24.89560890197754 28.73931694030762 24.80329895019531 28.80132675170898 C 25.12979888916016 30.10545539855957 24.46805953979492 31.48958587646484 23.19108009338379 32.03148651123047 C 22.83651542663574 32.18194961547852 22.46803855895996 32.25321197509766 22.10571098327637 32.25323104858398 C 21.16362762451172 32.25328826904297 20.26218795776367 31.77171897888184 19.74806976318359 30.94843673706055 C 19.63893890380859 30.97182655334473 19.52945899963379 30.99396705627441 19.4194393157959 31.01490592956543 C 19.20960998535156 32.34252548217773 18.05994987487793 33.35745620727539 16.6733283996582 33.35745620727539 Z" stroke="none" fill="#cfb53b" />
                        </g>
                        <g id="Ellipse_386" data-name="Ellipse 386" transform="translate(52.639 28.396)" fill="#cfb53b" stroke="#cfb53b" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                            <circle cx="8.5" cy="8.5" r="8.5" stroke="none" />
                            <circle cx="8.5" cy="8.5" r="7.5" fill="none" />
                        </g>
                        <path id="Path_7434" data-name="Path 7434" d="M3254.088,459.374V447.555s.006-7.213-6.948-7.213h-59.032s-6.948-.009-6.948,7.213v32.232s-.838,7.213,6.948,7.213h33.775" transform="translate(-3181.133 -440.343)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7435" data-name="Path 7435" d="M3239.6,458.272V455.83s0-5.488-5.569-5.488h-47.313s-5.569-.007-5.569,5.488v20.395s-.671,5.488,5.569,5.488h21.984" transform="translate(-3172.928 -442.199)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7436" data-name="Path 7436" d="M3224.309,492.335h17.815" transform="translate(-3208.361 -475.217)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7439" data-name="Path 7439" d="M3224.309,492.335h11.353" transform="translate(-3184.143 -475.217)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7438" data-name="Path 7438" d="M3224.309,492.335h15.1" transform="translate(-3208.361 -463.508)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                        <path id="Path_7437" data-name="Path 7437" d="M3224.309,492.335h26.89" transform="translate(-3208.361 -469.362)" fill="none" stroke="#cfb53b" stroke-linecap="round" stroke-width="2" />
                    </g>
                </svg>
                <div class="big-btn-text">
                    <span class="small-txt">send</span>
                    <span class="big-txt">e-card</span>
                </div>
            </a>
<%--            <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
            <script type="IN/Share" data-url="http://10.192.65.156:8083/ECards/Ecard16102020094018.jpg"></script>--%>
        </section>


        <div style="clear: both;"></div>
        <%-- <br />
        <br />
        <br />--%>
        <div style="width: 1003px; margin: 0 auto; height: auto; display: none;">
            <div class="bossBanner" id="divBossday" runat="server">
                <a href="/Web_Pages/Rewards/GiveBossEcard.aspx">
                    <img src="/images/spacer.gif" width="250" height="40" alt="" /></a>
            </div>
        </div>
        <div class="ftHold hmFooter">
            <div class="ftData">
                <div style="float: left;">
                    <p>
                        <span>&copy; 2021-2022. All Rights Reserved Mahindra</span>
                    </p>
                    <asp:HiddenField ID="lvl" runat="server" />
                </div>
                <div style="float: right;">
                    <p>
                        <span>For Any Queries Please Use Genie App.</span>
                            <%--<span>Please Press CTRL+F5 To Refresh Portal.</span>--%>
                        <%--  Get in touch:                    
                   <a href="mailto:hrsupport@mahindrampeople.com" style="color: #fff; text-decoration: none;">hrsupport@mahindrampeople.com</a>
                        Please mark your HRBP in CC.--%>
                    </p>
                </div>
                <div style="clear: both;"></div>
            </div>
        </div>

        <div id="light" class="white_content" runat="server" style="display: none;">
            <div class="form01">
                <table runat="server" id="tblLogin" visible="true">
                    <tr>
                        <td class="lblName">Token Number
                        </td>
                        <td>:
                        </td>
                        <td>
                            <asp:TextBox ID="txtLoginTokenNumber" runat="server"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td>PassWord
                        </td>
                        <td>:
                        </td>
                        <td>
                            <asp:TextBox ID="txtPassWord" runat="server" TextMode="Password"></asp:TextBox>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;
                        </td>
                        <td>&nbsp;
                        </td>
                        <td>
                            <div class="btnRed">
                                <asp:Button ID="btnLogin" runat="server" CssClass="btnLeft" Text="Login" OnClick="btnLogin_Click" />
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>


        <%-- Unauthorized popup --%>
        <div id="fade" class="black_overlay" runat="server">
        </div>
        <div runat="server" id="myModal" class="modal">
            <div class="modal-content">
                <label style="padding: 10px 15px; background-color: #d31621; color: #fff; display: none;">Access denied</label>

                <div class="modal_inner" >
                    <p>
                        R&R Portal is applicable to M&M-AFS Divisions only, for support write mail to "GTOportalhelpdesk@mahindra.com".                        <%--You are not authorized to use this portal.--%>
                    </p>
                </div>
            </div>
        </div>

    </form>
    <div style="clear: both;"></div>
    <script>

        $(document).ready(function () {
            //alert();
            $('.testi-box').mouseover(function () {
                var THIS = $(this);
                var d_val = $(this).parents('li').attr('data-value');
                //alert(d_val);
                if (d_val == 'testi1') {
                    $(this).parents('.testimonial_inner').addClass('animation_stopped');
                    $('.testimonial_inner').css({
                        'margin-left': '220px'
                    });
                    $(this).find('.testimain').addClass('show');
                }
                if (d_val == 'testi2') {
                    $(this).parents('.testimonial_inner').addClass('animation_stopped');
                    $('.testimonial_inner').css({
                        'margin-left': '220px'
                    });
                    $(this).find('.testimain').addClass('show');
                }
                if (d_val == 'testi3') {
                    $(this).parents('.testimonial_inner').addClass('animation_stopped');
                    $('.testimonial_inner').css({
                        'margin-left': '220px'
                    });
                    $(this).find('.testimain').addClass('show');
                }
                if (d_val == 'testi4') {
                    $(this).parents('.testimonial_inner').addClass('animation_stopped');
                    $('.testimonial_inner').css({
                        'margin-left': '130px'
                    });
                    $(this).find('.testimain').addClass('show');
                }
                if (d_val == 'testi5') {
                    $(this).parents('.testimonial_inner').addClass('animation_stopped');
                    $('.testimonial_inner').css({
                        'margin-left': '130px'
                    });
                    $(this).find('.testimain').addClass('show');
                }
            });

            $('.testi-box').mouseleave(function () {
                $(this).parents('.testimonial_inner').removeClass('animation_stopped');
                $('.testimain').removeClass('show');
            });
        })
    </script>
</body>
</html>
