﻿<html>
<head>
    <title>Award Expiry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <table id="Table_01" width="1000" height="1415" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td colspan="3">
                <img style="vertical-align: top" src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_01.jpg" width="1000" height="207"
                    alt="">
            </td>
        </tr>
        <tr>
            <td>
                <img style="vertical-align: top" src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_02.jpg" width="87" height="436"
                    alt="">
            </td>
            <td style="width: 795px; vertical-align: top">
                <div style="width: 760px; height: 417px; font-family: arial; font-size: 17px; color: #323231;
                    padding: 0 0 7px 7px; line-height: 35px; vertical-align: top;">
                    <span style="font-weight: bold; color: rgb(169, 50, 52); font-size: 42px; text-transform: capitalize;">
                        Dear
                        <%RecipientName%>,</span><br>
                    <span style="display: block; color: rgb(0, 0, 0); font-size: 30px;">
                        <br />
                        Congratulations!!!</span>
                    <p style="color: #606062; font-size: 24px">

                    You have received the Award of Rs.<%AwardAmount%> from  <%GiverHODName%>. 

                       
                    </p>
                  
                </div>
            </td>
            <td>
                <img style="vertical-align: top; float: left" src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_04.jpg" width="121"
                    height="436" alt="">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_05_disclaimer4.jpg" alt="" width="1000" height="288" usemap="#Map" style="vertical-align: top"
                    border="0">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_06_disclaimer4.jpg" alt="" width="1000" height="184" usemap="#Map2"
                    style="vertical-align: top" border="0">
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <img style="vertical-align: top" src="http://www.afsrecognitionportal.com:8081/template/images/Emailer_07.jpg" width="1000" height="300"
                    alt="">
            </td>
        </tr>
    </table>
    <map name="Map">
        <area shape="rect" coords="95,198,187,220" target="_blank" href='<% MyAwards%>'>
    </map>
    <map name="Map2">
        <area shape="rect" coords="430,64,522,88" target="_blank" href='<%VLINK%>'>
    </map>
</body>
</html>
