
@media (min-width:1599px) {
}

@media (min-width:1025px) and (max-width:1280px) {
}

@media screen and (max-width: 1113px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    text-align: center;
    padding: 10px 0 0 0;
    float: none;
  }
  .logo2 {
    display: none;
  }
  nav {
    width: 100%;
  }
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
  }
  #cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
    color: #000;
  }
  #cssmenu ul li.active {
    background: #fff;
}
  #cssmenu ul li {
    width: 100%;
    border-top: 1px solid #bf233b;
  }
  #cssmenu ul li:hover {
    background: transparent;
  }
  #cssmenu ul li:hover a{
    color: #fff;
  }
  #cssmenu ul ul li,
  #cssmenu li:hover > ul > li {
    height: auto;
  }
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
    border-bottom: 0;
  }
  #cssmenu ul ul.menu-dd {
    border-radius: 0;
    padding: 5px 0;
    background: #fff;
}
#cssmenu ul.menu-dd li {
  border: 0;
  border-bottom: 1px solid rgba(227, 24, 55, 0.14);
}
  #cssmenu > ul > li {
    float: none;
  }
  #cssmenu ul ul li a {
    padding-left: 25px;
  }
  #cssmenu ul ul li {
    background: #fff;
    padding: 10px 0;
  }
  #cssmenu ul.right-nav li{
    padding-top: 0px;
  }
  #cssmenu > ul > li.has-sub:nth-last-child(2){
      padding-right: 0;
  }
  #cssmenu ul ul li:hover {
    /* background: #363636 !important; */
  }
  #cssmenu ul.right-nav ul.menu-dd li{
    padding-top: 10px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 35px;
  }
  #cssmenu ul ul li a {
    color: #ddd;
    background: none;
  }
  /* #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li.active > a {
    color: #fff;
  } */
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    width: 100%;
    margin: 0;
    text-align: left;
  }
  #cssmenu > ul > li.has-sub > a:after,
  #cssmenu > ul > li.has-sub > a:before,
  #cssmenu ul ul > li.has-sub > a:after,
  #cssmenu ul ul > li.has-sub > a:before {
    display: none;
  }
  #cssmenu #head-mobile {
    display: block;
    padding: 23px;
    color: #ddd;
    font-size: 12px;
    font-weight: 700;
  }
  .button {
    width: 55px;
    height: 46px;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    z-index: 12399994;
  }
  .button:after {
    position: absolute;
    top: 27px;
    right: 20px;
    display: block;
    height: 8px;
    width: 20px;
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    content: "";
  }
  .button:before {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: absolute;
    top: 21px;
    right: 20px;
    display: block;
    height: 2px;
    width: 20px;
    background: #ddd;
    content: "";
  }
  .button.menu-opened:after {
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    top: 23px;
    border: 0;
    height: 2px;
    width: 19px;
    background: #fff;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .button.menu-opened:before {
    top: 23px;
    background: #fff;
    width: 19px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 99;
    right: 0;
    top: 0;
    display: block;
    /* border-left: 1px solid #444; */
    height: 37px;
    width: 37px;
    cursor: pointer;
  }
  #cssmenu .submenu-button.submenu-opened {
    /* background: #fff; */
  }
  #cssmenu ul ul .submenu-button {
    height: 34px;
    width: 34px;
  }
  #cssmenu .submenu-button:after {
      position: absolute;
      top: 16px;
      right: 13px;
      width: 2px;
      height: 7px;
      display: block;
      background: #ddd;
      content: "";
      transform: rotate(40deg);
  }
  #cssmenu ul ul .submenu-button:after {
    top: 15px;
    right: 13px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    background: #fff;
    transform: rotate(40deg);
  }
  #cssmenu .submenu-button.submenu-opened:after {
    background: #fff;
    transform: rotate(-40deg);
  }
  #cssmenu .submenu-button:before {
    position: absolute;
    top: 16px;
    right: 17px;
    display: block;
    width: 2px;
    height: 7px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    transform: rotate(-40deg);
}
  #cssmenu ul ul .submenu-button:before {
    top: 12px;
    right: 16px;
  }
  #cssmenu .submenu-button.submenu-opened:before {
    /* display: none; */
  }
  #cssmenu ul ul ul li.active a {
    border-left: none;
  }
  #cssmenu > ul > li.has-sub > ul > li.active > a,
  #cssmenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: none;
  }
  #cssmenu ul.menu-dd li:last-child{
    border-bottom: 0;
  }
  #cssmenu li.prof-account:hover > ul{
    top: auto;
  }
  #cssmenu > ul > li.prof-account a{
    padding-left: 10px;
  }
  #cssmenu ul.right-nav {
    display: none;
}
nav#cssmenu a.rise-logo img.new-r-logo {
      margin-top: 40px;
    left: 0;
}
#cssmenu ul.right-nav {
        width: 100%;
    display: block;
    height: auto;
    background: #e31837;
    top: 45px;
    position: absolute;
    z-index: 999;
}
section.main-rnr {
    margin-top: 45px!important; 
}

.logo h3 {
  
    padding-top: 20px;
}
#cssmenu > ul > li.prof-account.has-sub {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
    margin-left: 0px;
}
ul.budget-legends {
    margin: 0 0 0 15px;
}
.rnr-breadcrumb ul.breadcrumb {
    margin-left: 16px;
    margin-top: 25px;
}
.logo h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    position: absolute;
    margin-left: 0;
    padding-left: 0px;
    text-align: left;
    left: 216px;
    float: left;
   
}
body#user-feedback .row.rnr-custom-row {
    width: calc(100% - 50%);
}
}

@media (min-width:768px) and (max-width:1025px) {
}

@media (min-width:768px) and (max-width:991px) {
}

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {

  }

@media (max-width:1024px) {
ul.middle-chart {
      left: 30%; 
  }
  .rnr-search-bar svg {
    right: 10px;
  }
    .rnr-tabs li.nav-item a.nav-link {
        padding: 15px 20px;
    }
.rnr-radio-btn .radio {
    margin-right: 10px;
 
}
 
div#award-redemption .modal-body {
    width: 100%;
    margin: 0 auto;
}
.logo h3 { 
    left: 245px;
}

section.main-head-wrap {
   position: absolute;
    bottom: 78%;
    left: 29%;
}

.main-head-div h1 {
 
    font-size: 40px;
}

.main-head-div h2 {
    color: #fff;
    font-size: 55px;
 
  }

/*section.big-btn {
    bottom: auto;
    right: 30px;
    top: 29%;
}*/

section.testimonial_wrap {
 
    top: 20px;
 
}

}


@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape)

  {
section.main-head-wrap {
    position: absolute;
    bottom: auto;
    left: 29%;
    top: 30%;
}
   section.big-btn {
 
  
    bottom: 40%;
    right: 30px;
} 

  }

@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
  {

    section.testimonial_wrap {
        top: 20px;
    
    }


  }


@media (min-width:768px) and (max-width:1023px) and (orientation:portrait) {
  .ipad-portrait {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ipad-portrait p {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
  }
  section.main-rnr {
    /*margin-top: 0px;*/
 
}
/*a.rise-logo {
    padding: 0;
    display: none;
}*/
nav#cssmenu .logo {
    display: flex;
    align-items: center;
    justify-content: left;
     margin-top: -40px;
    padding-left: 0px;
}
/*.logo {
    position: initial;
  }
.logo h3 {
  
    padding-left: 0;
}*/
.report-wrapper {
    width: 90%;  
}
.report-search-but button.rnr-btn {
    min-width: 200px;
  
}
  ul.middle-chart {
      left: 20%;
 
}
.logo h3 {
    padding-left: 19px;
    padding-top: 22px;
}
body#user-feedback .row.rnr-custom-row {
    width: calc(100% - 20%);
}
div#award-redemption .modal-body {
    width: 100%;
    margin: 0 auto;
}
.search-emp-modal .modal-dialog {
    max-width: 80%;
  /*  top: 13%;*/
}
body#awards-givenby-me .rnr-tabs li.nav-item {
    width: 225px;
    margin: 0 5px;
}
.file-upload a {
    /* margin: 0; */
    color: red;
    /* text-align: right; */
    /* right: 0; */
    padding-right: -26px;
    position: absolute;
    top: 11px;
    right: 12px;
    bottom: 0;
}
section.testimonial_wrap {
    top: 20px;
    display: block;
}

}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: portrait)
  {
section.testimonial_wrap {
    top: 20px;
    display: none;
}

.ipad-portrait {
    display: none;
    align-items: center;
    justify-content: center;
}
section.big-btn {
    display: flex;
    position: absolute;
    bottom: auto;
    right: 30px;
    top: 26%;
}

.hod-mobile {
    display: block;
    height: 100%;
    width: 100%;
}

img.img-fluid.home-bg
{
display: none;  
}

section.main-head-wrap {
    position: absolute;
    bottom: 78%;
    left: 0%;
    width: 100%;
    margin: 0 auto;
}
.main-head-div h1 {
 
    text-align: center;
}
.main-head-div h2 {
 
    text-align: center;
}
section.big-btn {
    display: flex;
    position: absolute;
    bottom: -30%;
    right: 0px;
    top: auto;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

  }

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) 
  and (orientation: landscape)
  {
      section.testimonial_wrap {
          top: 20px;
          display: block;
      }
  }



@media (max-width:767px) {
  #cssmenu{
    display: block;
    min-height: 60px;
  }
  nav#cssmenu .logo{
    margin: -5px 0 0 0;
    justify-content: flex-start;
    height: 60px;
  }
  .logo h3, .logo img{
    margin: 0;
  }
  .logo a{
    display: none;
  }
  .logo h3{
    font-size: 18px;
    padding-left: 15px;
    margin: 0;
    padding-top: 0px;    
    position: initial;
  }
  #cssmenu ul.right-nav{
    width: 100%;
    display: block;
    height: auto;
    background: #e31837;
    top: 58px;
  }
  #cssmenu > ul > li > a{
    padding: 11px 10px;
    color: #fff;
  }
  section.big-btn {
    display: flex;
    position: absolute;
    bottom: 30px;
    flex-wrap: wrap;
    right: auto;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
  }
  section.big-btn a{
    width: 250px;
    padding: 12px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .big-btn a svg {
    width: 45px;
    height: 45px;
    fill: #CFB53B;
  }
  span.small-txt {
    font-size: 18px;
    width: 100%;
    display: block;
    font-weight: 600;
  }
  span.big-txt {
    font-size: 25px;
    font-weight: 600;
    width: 100%;
    display: block;
  }
  ul.budget-widget{
    display: none;
  }
  header{
    height: 60px;
  }
  .rnr-breadcrumb .breadcrumb{
    margin: 0;
   
  }
.rnr-breadcrumb ul.breadcrumb
{
      margin-top: 8px; 
}

  .rnr-inner-top{
    height: 160px;
  }
  .rnr-tabs {
    margin-top: -60px;
  }
  .rnr-tabs .tab-list{
    overflow-x: auto;
    display: block;
  }
  .rnr-tabs .nav-tabs {
    width: 630px;
    border: 0;
    padding-bottom: 10px;
    /* display: flex; */
  }
  .rnr-tabs li.nav-item{
    margin: 0;
  }
  .rnr-tabs li.nav-item a.nav-link{
    border-radius: 0;
        padding: 15px 20px;
  }
  /* award page responsive start */
  .rnr-tabs h3.rnr-h3-top{
    font-size: 20px;
    transform: translateY(-20px);
  }
  .give-awards .rnr-tabs .nav-tabs{
    width: 420px;
  }
  .mahindra_drop_down_div.rnr-dd.award-top-dd{
    width: 100%;
  }
  .row.rnr-custom-row{
    width: 100%;
  }
  .rnr-radio-btn{
    display: block;
    margin-bottom: 15px;
  }
  .mahindra_drop_down_div ul{
    padding-top: 0px;
  }
  .send-awards button{
    width: 100%;
  }
  .search-emp-modal .modal-dialog{
    max-width: 95%;
  }
  .rnr-search-bar form.search-form{
    width: 100%;
  }
  .rnr-search-bar span.search-svg{
    width: 45px;
  }
  .table-scroll{
    height: 300px;
  }
  .table-scroll thead th{
    white-space: nowrap;
  }
  .table-scroll::-webkit-scrollbar{
    height: 6px;
  }
  .nom-box-main ul{
    flex-wrap: wrap;
 
    margin-top: 5px;
    margin-bottom: 15px;
  }
  .nom-box-main ul li {
    margin-bottom: 10px;
  }
  .nominee-box{
    margin-top: 45px;
  }
  .rnr-email-check {
    margin-top: 20px;
  }
  .rnr-radio-btn .radio{
    padding: 5px 0 0;
  }
  /* award page responsive end */


  /******* send Ecard start *******/
  .send-ecard .rnr-input.search-emp-m{
    width: 100%;
  }
  .send-ecard .rnr-input.search-emp-m.success-ecard {
    padding: 60px 0;
  }
  .ecard-search-head svg{
    width: 30px;
    height: 30px;
  }
  .ecard-search-head h4{
    width: calc(100% - 40px);
    font-size: 20px;
  }
  /******** send Ecard end ********/


  /******** award by me start ********/
  .date-search-panel{
    flex-wrap: wrap;
  }
  .rnr-input.rnr-date{
    width:100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
  .date-search-panel button{
    min-width: 100%;
  }
  .awards-givenby-me .rnr-tabs .nav-tabs{
    width: 630px;
  }
  /******** award by me end ********/


  /******** budget page start ********/
  .budget-chart{
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0;
  }
  ul.middle-chart {
    position: absolute;
    left: 50%;
    top: 33%;
    transform: translate(-50%,-50%);
  }
  ul.budget-legends {
    margin: 20px 0 40px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 5px;
  }
  ul.budget-legends li{
    border: 0;
  }
  .rnr-budget h3.rnr-h3-top.h3-bugdget2{
    color: #333;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
  }
  .send-ecard.budget .rnr-input.search-emp-m{
    padding: 0;
  }
  .budget .ecard-search-head svg {
    margin-right: 15px;
  }
  .rnr-input.search-emp-m.success-ecard ul {
    text-align: center;
    padding: 20px;
  }
  .send-ecard.budget .nom-box-main ul li {
    margin-bottom: 10px;
    margin-right: 30px;
    width: 100%;
  }
  .rnr-input.search-emp-m.success-ecard ul li {
    margin-bottom: 20px;
  }
  .rnr-input.search-emp-m.success-ecard ul li:last-child {
    margin-bottom: 50px;
  }
  /******** budget page end ********/

  /*karishma start  767*/
  .result-p {
    position: initial;
    }
    div#award-preview-popup .nominee-box {
    margin: 20px;
    }
    .rnr-table-head {
    display: block;
 
    }
    .awards-givenby-me .rnr-table .rnr-table-head h3 {
    margin-bottom: 10px;
}
.rnr-table-head {
    padding-bottom: 20px;
}
.rnr-tabs li.nav-item {
    width: 210px;
 
}
div#tabs-1 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop, 
div#tabs-2 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop, 
div#tabs-3 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop {
    width: auto;
}

body.send-ecard div#tabs-1 .rnr-input.search-emp-m.step-1 {
    width: 100%;
}

body.send-ecard .rnr-input.search-emp-m.step-1 {
    width:  100%;
}
.report-wrapper {
    width: 100%;
    border-radius: 0px;
}
.report-wrapper .mahindra_drop_down_div.rnr-dd.award-top-dd {
    margin-bottom: 30px;
}

.report-list-wrap ul li {
    margin-left: 0px;
    padding: 25px 20px;
        width: 100%;

    }
    .report-list-wrap ul li:first-child {
    margin-left: 0px;
}

.home-tesimonal-wrap
{
  display: none !important;
}

section.main-head-wrap {
    position: absolute;
    bottom: 0%;
    left: 0%;
    top: 69px;
    width: 100%;
}

.main-head-div h1 {
    text-align: center;
    font-size: 40px;
}

.main-head-div h2 {
    color: #fff;
    font-size: 45px;
    text-align: center;
  }
img.img-fluid.home-bg {
  
    object-position: -70px;
    height: 100%;
}
body.home .logo h3 {
 
 
    padding-left: 15px;
}

.congratulation-box {
    width: 100%;
}
.congo-inner {
    padding: 0 0px;
    height: 550px;
}
.Alternative-box .award-pop-right .tb-text span.t2 {
 
    display: contents;
}
/*.search-emp-modal .modal-dialog {
   
    top: 5%;
}*/
label.min-char {
    left: 68%;
    font-size: 14px;
}
.send-ecard.budget .nom-box-main ul li:last-child {
    width: 100%;
}
.ui-datepicker {
 
       width: 92%;
    margin: 0 auto;
    z-index: 999999 !important;
}
body#send-ecard .rnr-tabs li.nav-item a.nav-link {
 
    height: 95px;
}

body.send-ecard div#tabs-1 .ecard-search-head h4, body.send-ecard div#tabs-2 .ecard-search-head h4, body.send-ecard div#tabs-3 .ecard-search-head h4 {
    padding-left: 10px;
    text-align: left;
}

.Alternative-box .award-pop-right .tb-text span.t1 {
 
    padding-bottom: 5px;
    line-height: 17px;
    font-size: 15px;
}

.Alternative-box .award-pop-right .tb-text span.t2 {
 
    font-size: 19px;
 
}

.Alternative-box .award-pop-right svg {
    margin-top: 0px;
}

#cssmenu > ul > li.prof-account.has-sub {
  
    margin-left: 0px;
}

.mahindra_drop_down_div.rnr-dd label {
    z-index: 9;
}
.hod-mobile
{
    display: block;
    
    position: absolute;
    width: 100%;
    height: 100%;
}
.home-bg
{
  display: none;

}
.copyright p {
 
    text-align: center !important;
 
}
.main-head-div {   
    padding-left: 0%;
    padding-top: 15px;
}

ul.budget-widget {
    display: none;
    margin-top: 43px;
    margin: 0 auto;
}

.rnr-breadcrumb {
    display: block;
}

body#give-awards .rnr-inner-top {
    height: 200px;
}
body#user-feedback .row.rnr-custom-row {
    width: 100%;
}
body#user-feedback .send-awards {
    margin-top: 80px;
  /*  display: block;*/
}
div#award-redemption .modal-body {
    width: 100%;
    margin: 0 auto;
}
.budget-mobile

{
  display: block;
      z-index: 99;
    position: relative;
}

.budget-mobile ul.budget-widget {
    display: block;
    margin-top: 43px;
    margin: 0 auto;
}

.budget-mobile ul.budget-widget:hover{
     width: 300px;
  transition: none;
}
.budget-mobile  ul.budget-widget:hover li.total-buget, ul.budget-widget:hover li.budget-used {
  display: flex;
   transition: none;
}

.budget-mobile ul.budget-widget
{
    width: 300px;

}
.budget-mobile ul.budget-widget:hover li.budget-available {
       width: 300px;
    max-width: 225px;
}
.budget-mobile ul.budget-widget:hover li.budget-available svg{
  visibility:visible;
  display: block;
}

.file-upload p {
    margin: 0;
    padding-right: 10px;
}
.send-awards button.close span {
    font-size: 14px;
    font-weight: 600;
}
body#user-feedback .send-awards button {
    width: 210px;
    font-size: 15px;
}
.file-upload__button {
    padding: 0.5em 0em;
    margin-right: 0px;
    color: #707070;
  font-size: 13px;
    width:210px;
}

/*karshma end 767*/
}
@media (min-width:320px) and (max-width:480px) {
  .rnr-budget h3.rnr-h3-top {
    font-size: 24px;
}

.budget .ecard-search-head {
    padding: 18px 20px;
}
label.min-char {
    left: 64%;
    font-size: 14px;
}
div#award-redemption .nominee-box {
 
    margin-top: 0px;
 
    padding: 0px 0px 0px;
}
div#award-redemption .nom-box-top {
    padding: 15px 0px 10px;
}
div#award-redemption .rnr-radio-btn .radio {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    padding-top: 0px;
}
div#award-redemption .nom-box-top h5 {
 
    font-size: 25px;
   
}
section.testimonial_wrap {
    top: 20px;
    display: none;
}
.main-head-div {
    padding-left: 0%;
    padding-top: 0px;
}
}
/*----by sneha---*/
@media only screen and (max-width:766px) {
    .logo {
        margin-top: 0;
        float:left;
        width:50%;
    }
    .logo a, .logo a .xs-show ,.header-top-xs-show {
        display: block !important;
    }
   .logo a .new-r-logo {
        display: none;
    }
   .header-top-xs-show .heading-topp {
       display: block;
       padding: 0;
       position: absolute;
       top: 44px;
       background: #e31837;
       width: 100%;
       left: 0;
       padding: 10px;
       text-align: center;
       color: #fff;
       font-weight: 600;
       font-size:18px;
    }
    .xs-show {
        width: 160px;
        background: #fff;
        left: 0;
        position: absolute;
        top: 0;
        padding: 8px;
    }
    .xs-show img {
       display: block;
       margin: auto;
       width: 110px;
    }
     .headHold {
        height: 44px;
    }
    .headHold .right-nav {
        position: relative;
        width: 100%;
        float: right;  
    }
    div.navPan .userNm {
       z-index: 999;
       right:35px;
       margin:0;
    }
    div#homeMenu {
        background: #333;
        width: 100%;
        left: 0;
        top: -12px;
    }
    .right-nav .navPan {
        width:100%
    }
}