@font-face {
    font-family: 'ARIAL';
    src: url('fonts/ARIAL.ttf') format('ttf'), url('fonts/ARIAL.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
/* @font-face {
	font-family: 'Calibri-Regular';
	src: url('fonts/Calibri-Regular.ttf') format('ttf'), url('fonts/Calibri-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
} */
@font-face {
    font-family: 'Calibri';
    src: url('fonts/Calibri-Regular.ttf') format('ttf'),
    /*  url('fonts/Calibri-Regular.ttf') format('ttf');*/
    font-style: normal;
}

* {
    font-family: 'Calibri';
}

.ipad-portrait {
    /*  position: fixed;*/
    height: 100%;
    width: 100%;
    background: red;
    z-index: 999;
    background: #E11937;
    display: none;
}

body {
    /* background: #F5F5F5; */
    overflow-x:;
}
/* header {
    height: 120px;
    background: #E11937;
		position: fixed;
} */
/* header nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 0 0 0;
		height: 100%;
} */
.hide {
    display: none !important;
}
/* .left-head{
	width: 12%;
}
.mahindra-logo {
    position: relative;
    display: block;
    width: 110px;
    margin: 0 auto;
}
.mahindra-logo svg {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -5px;
} */
/* .middle-head {
		width: 76%;
    display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		border: 1px solid #fff;
		border-bottom: 0;
		border-top: 0;
		height: 100%;
    padding: 0 30px;
} */
/* .middle-head h3 {
    padding: 0 20px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-inline-box;
    height: 25px;
		font-size: 18px;
    color: #fff;
} */
.mahindra_drop_down_div {
    width: auto;
    position: relative;
    /*	z-index: 2;*/
    padding: 10px;
    margin-top: 0;
    /* background: #1a64cc; */
}

    .mahindra_drop_down_div.spoc-dd {
        min-width: 370px;
        height: 100%;
        margin-top: 12px;
        margin-right: 35px;
    }

        .mahindra_drop_down_div.spoc-dd label {
            color: #fff;
            opacity: 0.9;
            font-size: 12px;
            font-weight: 300;
        }

    .mahindra_drop_down_div span small {
        position: relative;
        z-index: 1;
        display: block;
        color: #707070;
        padding-left: 5px;
        font-size: 16px;
        opacity: 0.3;
    }

    .mahindra_drop_down_div span svg {
        position: absolute;
        left: 0;
        bottom: 0;
        fill: #fff;
    }

    .mahindra_drop_down_div span {
        font-weight: 800;
        font-size: 17px;
        color: #fff;
        line-height: 16px;
        position: relative;
        padding: 0;
        padding-top: 0;
        width: 100%;
        display: block;
        cursor: pointer;
        z-index: 3;
    }

        .mahindra_drop_down_div span:before {
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            width: 9px;
            height: 2px;
            background: #707070;
            right: 20px;
            -webkit-transform: rotateZ(45deg);
            -ms-transform: rotateZ(45deg);
            -o-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
            transition: all 0.5s ease-in-out;
        }

        .mahindra_drop_down_div span:after {
            content: "";
            position: absolute;
            top: calc(50% - 2px);
            width: 9px;
            height: 2px;
            background: #707070;
            right: 15px;
            -webkit-transform: rotateZ(-45deg);
            -ms-transform: rotateZ(-45deg);
            -o-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
            transition: all 0.5s ease-in-out;
        }

    .mahindra_drop_down_div.mahindra_open_drop span:before {
        -webkit-transform: rotateZ(-45deg);
        -ms-transform: rotateZ(-45deg);
        -o-transform: rotateZ(-45deg);
        transform: rotateZ(-45deg);
        transition: all 0.5s ease-in-out;
    }

    .mahindra_drop_down_div.mahindra_open_drop span:after {
        -webkit-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        transform: rotateZ(45deg);
        transition: all 0.5s ease-in-out;
    }

    .mahindra_drop_down_div ul {
        position: absolute;
        width: 100%;
        border-bottom: 3px solid #203442;
        overflow: hidden;
        padding-top: 0px;
        margin-top: -5px;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        -webkit-box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
        box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
        z-index: 2;
        left: 0;
    }

    .mahindra_drop_down_div ul {
        visibility: hidden;
    }

ul {
    padding-left: 0;
    list-style-type: none;
}

.mahindra_drop_down_div {
    padding: 10px 13px;
    /* background: ; */
    min-width: 90px;
}

    .mahindra_drop_down_div.mahindra_open_drop .mahindra_drop_scroll {
        visibility: visible;
    }

    .mahindra_drop_down_div.mahindra_open_drop ul {
        opacity: 1;
        height: auto;
        transition: all 0.5s ease-in-out;
        border: 1px solid #adadad;
        /* border-bottom: none; */
        /* margin-top: -21px; */
        left: 0;
        z-index: 99;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
    }

.Internet-Explorer .mahindra_drop_down_div ul svg {
    width: 100%;
    height: 34px;
}

.mahindra_drop_down_div ul svg {
    position: absolute;
    top: 10px;
    fill: #fff;
}

.mahindra_drop_down_div span .member-icon svg {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

.mahindra_drop_down_div ul li {
    color: rgba(0, 0, 0, 0.4);
    background: #fff;
    position: relative;
    padding: 8px 20px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

    .mahindra_drop_down_div ul li:first-child {
        padding-top: 15px;
    }

    .mahindra_drop_down_div ul li:last-child {
        padding-bottom: 15px;
    }

    .mahindra_drop_down_div ul li:hover, .mahindra_drop_down_div ul li.active {
        color: rgb(68 68 68);
        background-color: #f5f5f5;
        transition: all 0.5s ease-in-out;
    }




/* new rnr header start */
/*.home header{
	background: transparent;
	box-shadow: none;
}*/
header {
    position: relative;
    width: 100%;
    background: linear-gradient(#E31837,#E31837);
    height: auto;
    z-index: 999;
    position: fixed;
    top: 0;
}

.home_header_menu {
    position: relative;
    width: 100%;
    background: linear-gradient(#E31837,#E31837);
    height: auto;
    z-index: 999;
    position: fixed;
    top: 0;
}

.headHold {
    font-family: sans-serif;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: relative;
    z-index: 123;
    padding: 10px;
    font: 18px verdana;
    color: #6ddb07;
    float: left;
    padding: 0;
    /* width: 15%; */
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -40px;
}

    .logo img {
        width: 130px;
    }

    .logo h3, .logo img {
        margin: 50px 0 10px;
    }

    .logo h3 {
        font-size: 24px;
        color: #fff;
        font-weight: 600;
        padding-left: 25px;
    }

    .logo a {
        color: #6ddb07;
        padding: 0 25px;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
    }

nav {
    position: relative;
    width: 980px;
    margin: 0 auto;
}

/* home menu css start*/
#homeMenu,
#homeMenu ul,
#homeMenu ul li,
#homeMenu ul li a,
#homeMenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #homeMenu:after,
    #homeMenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #homeMenu #head-mobile {
        display: none;
    }

#homeMenu {
    font-family: sans-serif;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    #homeMenu > ul > li {
        float: left;
    }

        #homeMenu > ul > li > a {
            padding: 15px 10px;
            font-size: 15px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #ddd;
            font-weight: 500;
            text-transform: uppercase;
        }

        #homeMenu > ul > li:hover > a,
        #homeMenu ul li.active a {
            color: #fff;
        }

        #homeMenu > ul > li:hover,
        #homeMenu ul li.active:hover,
        #homeMenu ul li.active,
        #homeMenu ul li.has-sub.active:hover {
            /* background: #448d00 !important; */
            -webkit-transition: background 0.3s ease;
            -ms-transition: background 0.3s ease;
            transition: background 0.3s ease;
        }

li.prof-account.has-sub {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
    margin-left: 20px;
    /* padding-left: 15px;
    position: relative;
    min-width: 86px; */
}

li.prof-account a {
    padding: 10px 30px 5px 20px;
}

#homeMenu > ul > li.has-sub:nth-last-child(2) {
    padding-right: 15px;
}

.prof-account img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #fff;
}

#homeMenu > ul > li.has-sub > a {
    padding-right: 30px;
}

    #homeMenu > ul > li.has-sub > a:after {
        position: absolute;
        top: 19px;
        right: 11px;
        width: 2px;
        height: 6px;
        display: block;
        background: #ddd;
        content: "";
        transform: rotate(40deg);
    }

    #homeMenu > ul > li.has-sub > a:before {
        position: absolute;
        top: 19px;
        right: 14px;
        display: block;
        width: 2px;
        height: 6px;
        background: #ddd;
        content: "";
        -webkit-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;
        transform: rotate(-40deg);
    }

#homeMenu > ul > li.has-sub:hover > a:before {
    transform: rotate(40deg);
}

#homeMenu > ul > li.has-sub:hover > a:after {
    transform: rotate(-40deg);
}

#homeMenu ul ul {
    position: absolute;
    left: -9999px;
}

    #homeMenu ul ul.dynamic {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 6px #00000015;
    }

    #homeMenu ul ul li {
        height: 0;
        -webkit-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        background: #fff;
        transition: all 0.25s ease;
        display: flex;
        align-items: center;
    }

        #homeMenu ul ul li:hover {
        }

#homeMenu li:hover > ul {
    left: auto;
}

#homeMenu li.prof-account:hover > ul {
    top: 52px;
}

#homeMenu li:hover > ul > li {
    height: 25px;
}

#homeMenu ul ul.dynamic li a:focus {
    background: transparent;
    outline: navajowhite;
}

#homeMenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#homeMenu ul ul li a {
    /* border-bottom: 1px solid rgba(150, 150, 150, 0.15); */
    padding: 0 11px 0;
    width: auto;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
}

#homeMenu ul ul.dynamic li a {
    opacity: 0.8;
    color: #333;
    transition: all 0.25s ease;
}

#homeMenu ul ul.dynamic li:hover a {
    opacity: 1;
    transition: all 0.25s ease;
}

#homeMenu ul ul li:last-child > a,
#homeMenu ul ul li.last-item > a {
    border-bottom: 0;
}

#homeMenu ul ul li:hover > a,
#homeMenu ul ul li a:hover {
    color: #000;
}

#homeMenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
}

#homeMenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#homeMenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}

#homeMenu ul ul li.has-sub:hover,
#homeMenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

#homeMenu ul ul ul li.active a {
    border-left: 1px solid #333;
}

#homeMenu > ul > li.has-sub > ul > li.active > a,
#homeMenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #fff;
}

.home_header_menu .right-nav {
    width: calc(100% - 550px);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    height: 60px;
}

    .home_header_menu .right-nav li {
        padding-top: 5px;
    }

#homeMenu ul ul.dynamic li:last-child {
    height: 30px;
    padding-bottom: 10px;
}

#homeMenu ul li.prof-account ul.dynamic li:last-child {
    padding-bottom: 10px;
}
/* home menu css end*/

/* main menu css start*/
#MainMenu,
#MainMenu ul,
#MainMenu ul li,
#MainMenu ul li a,
#MainMenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    #MainMenu:after,
    #MainMenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    #MainMenu #head-mobile {
        display: none;
    }

#MainMenu {
    font-family: sans-serif;
    background: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: #203442;*/
}

    #MainMenu > ul > li {
        float: left;
    }

        #MainMenu > ul > li > a {
            padding: 15px 10px;
            font-size: 15px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #ddd;
            font-weight: 500;
            text-transform: uppercase;
        }

        #MainMenu > ul > li:hover > a,
        #MainMenu ul li.active a {
            color: #fff;
        }

        #MainMenu > ul > li:hover,
        #MainMenu ul li.active:hover,
        #MainMenu ul li.active,
        #MainMenu ul li.has-sub.active:hover {
            /* background: #448d00 !important; */
            -webkit-transition: background 0.3s ease;
            -ms-transition: background 0.3s ease;
            transition: background 0.3s ease;
        }

li.prof-account.has-sub {
    border-left: 1px solid rgba(255, 255, 255, 0.3) !important;
    margin-left: 20px;
    /* padding-left: 15px;
    position: relative;
    min-width: 86px; */
}

li.prof-account a {
    padding: 10px 30px 5px 20px;
}

#MainMenu > ul > li.has-sub:nth-last-child(2) {
    padding-right: 15px;
}

.prof-account img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    overflow: hidden;
    border: 2px solid #fff;
}

#MainMenu > ul > li.has-sub > a {
    padding-right: 30px;
}

    #MainMenu > ul > li.has-sub > a:after {
        position: absolute;
        top: 19px;
        right: 11px;
        width: 2px;
        height: 6px;
        display: block;
        background: #ddd;
        content: "";
        transform: rotate(40deg);
    }

    #MainMenu > ul > li.has-sub > a:before {
        position: absolute;
        top: 19px;
        right: 14px;
        display: block;
        width: 2px;
        height: 6px;
        background: #ddd;
        content: "";
        -webkit-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        transition: all 0.25s ease;
        transform: rotate(-40deg);
    }

#MainMenu > ul > li.has-sub:hover > a:before {
    transform: rotate(40deg);
}

#MainMenu > ul > li.has-sub:hover > a:after {
    transform: rotate(-40deg);
}

#MainMenu ul ul {
    position: absolute;
    left: -9999px;
}

    #MainMenu ul ul.dynamic {
        border-radius: 6px;
        overflow: hidden;
        box-shadow: 0px 3px 6px #00000015;
    }

    #MainMenu ul ul li {
        height: 0;
        -webkit-transition: all 0.25s ease;
        -ms-transition: all 0.25s ease;
        background: #fff;
        transition: all 0.25s ease;
        display: flex;
        align-items: center;
    }

        #MainMenu ul ul li:hover {
        }

#MainMenu li:hover > ul {
    left: auto;
}

#MainMenu li.prof-account:hover > ul {
    top: 52px;
}

#MainMenu li:hover > ul > li {
    height: 25px;
}

#MainMenu ul ul.dynamic li a:focus {
    background: transparent;
    outline: navajowhite;
}

#MainMenu ul ul ul {
    margin-left: 100%;
    top: 0;
}

#MainMenu ul ul li a {
    /* border-bottom: 1px solid rgba(150, 150, 150, 0.15); */
    padding: 0 11px 0;
    width: auto;
    font-size: 12px;
    text-decoration: none;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    white-space: nowrap;
}

#MainMenu ul ul.dynamic li a {
    opacity: 0.8;
    color: #333;
    transition: all 0.25s ease;
}

#MainMenu ul ul.dynamic li:hover a {
    opacity: 1;
    transition: all 0.25s ease;
}

#MainMenu ul ul li:last-child > a,
#MainMenu ul ul li.last-item > a {
    border-bottom: 0;
}

#MainMenu ul ul li:hover > a,
#MainMenu ul ul li a:hover {
    color: #000;
}

#MainMenu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ddd;
    content: "";
}

#MainMenu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
    content: "";
    -webkit-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

#MainMenu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}

#MainMenu ul ul li.has-sub:hover,
#MainMenu ul li.has-sub ul li.has-sub ul li:hover {
    background: #363636;
}

#MainMenu ul ul ul li.active a {
    border-left: 1px solid #333;
}

#MainMenu > ul > li.has-sub > ul > li.active > a,
#MainMenu > ul ul > li.has-sub > ul > li.active > a {
    border-top: 1px solid #fff;
}

.home_header_menu .right-nav {
    width: calc(100% - 550px);
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0px;
    height: 60px;
}

    .home_header_menu .right-nav li {
        padding-top: 5px;
    }

#MainMenu ul ul.dynamic li:last-child {
    height: 30px;
    padding-bottom: 10px;
}

#MainMenu ul li.prof-account ul.dynamic li:last-child {
    padding-bottom: 10px;
}
/* main menu css end*/



/* new rnr header end */

/* rnr home */
img.img-fluid.home-bg {
    /*   position: absolute;*/
    width: 100%;
    object-fit: cover;
    object-position: bottom left;
    height: 100%;
}

section.big-btn {
    display: flex;
    position: absolute;
    bottom: 12%;
    right: 30px;
}

    section.big-btn a {
        background: transparent linear-gradient(180deg, #ECECEC 0%, #FEFEFE 31%, #FDFDFD 67%, #E9E9E9 100%) 0% 0% no-repeat padding-box;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        padding: 15px;
        border-radius: 12px;
        text-decoration: none;
        margin-left: 25px;
        box-shadow: 0px 0px 10px #142f436e;
        transition: all 0.25s ease-in-out;
    }

        section.big-btn a:hover .big-btn-text, section.big-btn a:hover svg {
            color: #b59e32;
            transition: all 0.25s ease-in-out;
        }

.big-btn a svg {
    width: 60px;
    height: 60px;
    fill: #CFB53B;
}

.big-btn-text {
    text-transform: uppercase;
    color: #CFB53B;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    line-height: 1;
    padding-left: 7px;
}

span.small-txt {
    font-size: 23px;
    width: 100%;
    display: block;
    font-weight: 600;
}

span.big-txt {
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    display: block;
}
/* rnr home end */


/* rnr my-award start */
.table-anchor.rnr-green {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4px;
    opacity: 0.8;
    background: none;
    border: 0;
}

.table-anchor:hover {
    color: #00b369;
    opacity: 1;
}

section.main-rnr {
    margin-top: 60px;
    padding-bottom: 46px;
    min-height: calc(100vh - 60px);
}

.rnr-inner-top {
    background: #203442;
    /*height: 155px;*/  /*Comment by jayesh on 1 july 2021*/
    height: 100px; /*Added by Jayesh on 1 july 2021*/
}

ul.breadcrumb li + li:before {
    padding: 8px;
    color: #fff;
    opacity: 0.5;
    content: ">";
}

.rnr-breadcrumb .breadcrumb, .rnr-breadcrumb .breadcrumb a {
    color: #fff;
    background: transparent;
    text-decoration: none;
}

    .rnr-breadcrumb .breadcrumb li {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 300;
        letter-spacing: 0.4px;
    }

        .rnr-breadcrumb .breadcrumb li a {
            opacity: 0.5;
        }

        .rnr-breadcrumb .breadcrumb li:hover a {
            opacity: 1;
        }

.rnr-tabs {
    /*margin-top: -60px;*/  /*Comment by jayesh on 2 july 2021*/
        margin-top: -30px;  /*Added by Jayesh on 2nd july 2021*/ 
}

    .rnr-tabs h3.rnr-h3-top {
        color: #fff;
        font-size: 28px;
        font-weight: 300;
        text-align: center;
        transform: translateY(-10px);
    }

    .rnr-tabs .nav-tabs {
        border: 0;
    }

    .rnr-tabs .tab-list {
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-top: -30px; */
    }

    .rnr-tabs li.nav-item {
        width: 250px;
        margin: 0 10px;
    }

        .rnr-tabs li.nav-item a.nav-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            border-radius: 12px;
            box-shadow: 0 2px 8px #00000040;
            background: transparent linear-gradient(180deg, #ECECEC 0%, #FEFEFE 31%, #FDFDFD 67%, #E9E9E9 100%);
            padding: 15px 25px;
        }

    .rnr-tabs li.nav-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 12px;
        box-shadow: 0 2px 8px #00000040;
        background: transparent linear-gradient(180deg, #ECECEC 0%, #FEFEFE 31%, #FDFDFD 67%, #E9E9E9 100%);
        padding: 15px 15px;
        border: 2px solid transparent;
    }

        .rnr-tabs li.nav-item input {
            padding: 0;
            width: 140px;
            border: 0;
            font-size: 18px!important;
            color: #707070!important;
        }

.nav-tabs > li > input {
    background-color: transparent!important;
    color: #333!important;
    white-space: normal!important;
    word-break: break-word!important;
    font-size: 22px!important;
    font-family: 'Calibri'!important;
    text-transform: uppercase!important;
    text-align: left!important;
    line-height: 24px!important;
}

.rnr-tabs .nav-item svg path.custom-path, .rnr-tabs .nav-item span.t1 {
    fill: #979797;
    color: #707070;
}

.rnr-tabs .nav-link svg {
    width: 35px;
    height: 45px;
    margin-right: 15px;
}

.rnr-tabs .nav-item svg {
    width: 35px;
    height: 45px;
    margin-right: 15px;
}

.rnr-tabs .nav-link {
    border: 2px solid transparent;
    transition: all 0.5s ease-in-out;
}

    .rnr-tabs .nav-link.active, .rnr-tabs .nav-link:hover {
        border: 2px solid #30ce8d;
        transition: all 0.5s ease-in-out;
    }

.rnr-tabs li.nav-item.active, .rnr-tabs .nav-item:hover {
    border: 2px solid #30ce8d;
    transition: all 0.5s ease-in-out;
}

.rnr-tabs .nav-item span.t1, .rnr-tabs .nav-item span.t2 {
    width: 100%;
    display: block;
    line-height: 1;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.6px;
}

.rnr-tabs .nav-item span.t2 {
    color: #707070;
    font-size: 22px;
}

.rnr-tabs .nav-item svg path.cp2, .rnr-tabs .nav-item svg path.cp-stroke {
    stroke: #979797;
}

.rnr-tabs .nav-item.active svg path.custom-path, .rnr-tabs .nav-item.active span.t1,
.rnr-tabs .nav-item:hover svg path.custom-path, .rnr-tabs .nav-item:hover span.t1 {
    fill: #30ce8d;
    color: #30ce8d;
}

.rnr-tabs .nav-item.active svg path.custom-path, .rnr-tabs .nav-item.active input,
.rnr-tabs .nav-item:hover svg path.custom-path, .rnr-tabs .nav-item:hover input {
    fill: #30ce8d!important;
    color: #30ce8d!important;
}

.rnr-tabs .nav-link.active span.t2, .rnr-tabs .nav-link:hover span.t2 {
    color: #30ce8d;
}

.rnr-tabs .nav-item.active svg path.cp2, .rnr-tabs .nav-item.active svg path.cp-stroke,
.rnr-tabs .nav-item:hover svg path.cp2, .rnr-tabs .nav-item:hover svg path.cp-stroke {
    stroke: #30ce8d;
}

.rnr-tab-pane.tab-content {
    margin-top: 30px;
}

.row.rnr-custom-row {
    width: calc(100% - 15%);
    margin: 0 auto;
}

.mahindra_drop_down_div.rnr-dd.award-top-dd {
    width: calc(50% - 10px);
    min-width: auto;
}

.mahindra_drop_down_div.rnr-dd {
    min-width: 100%;
    height: 52px;
    border: 1px solid #adadad;
    padding: 0;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
}

    .mahindra_drop_down_div.rnr-dd label {
        color: #707070;
        opacity: 1;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        position: absolute;
        background: #fff;
        top: -11px;
        left: 8px;
        z-index: 9;
        padding: 0 9px;
    }
        .mahindra_drop_down_div.rnr-dd label.tc_label {
            position: relative;
            top: -9px;
            font-size: 13px;
            color: #e31837;
        }
    .mahindra_drop_down_div.rnr-dd span {
        font-size: 20px;
        color: #707070;
        padding: 10px;
        min-height: 50px;
        display: flex;
        align-items: center;
    }

.rnr-radio-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
}

    .rnr-radio-btn .radio {
        margin-right: 35px;
        border-radius: 50%;
        padding: 0;
        margin-top: 10px!important;
        width: 100%;
    }

        .rnr-radio-btn .radio table {
            width: 100%;
        }

            .rnr-radio-btn .radio table tr {
                display: table-cell!important;
                vertical-align: middle;
            }

                .rnr-radio-btn .radio table tr td {
                    display: table-cell;
                    width: 80%;
                }

                    .rnr-radio-btn .radio table tr td:first-child {
                    }
.award_for_btn.rnr-radio-btn .radio table tr td:first-child {
    width: 100px;
}

                .rnr-radio-btn .radio table tr d:nth-child(2) {
                }

                .rnr-radio-btn .radio table tr td label span {
                    width: 200px;
                    display: block;
                    font-size: 16px;
                    vertical-align: middle;
                }

        .rnr-radio-btn .radio input[type="radio"] {
            display: none;
        }

        .rnr-radio-btn .radio label {
            position: relative;
            display: inline-block;
            width: 25px;
            height: 25px;
            border: 2px solid #707070;
            border-radius: 50%;
            box-sizing: border-box;
            font-size: 16px;
            vertical-align: middle;
            word-break: unset;
            white-space: nowrap;
        }

            .rnr-radio-btn .radio label::before {
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: transparent;
                transform: translate(-50%, -50%);
                transition: background-color 0.25s;
            }

            .rnr-radio-btn .radio label::after {
                content: attr(data-value);
            }

        .rnr-radio-btn .radio input:checked ~ label::before {
            background-color: #30ce8d;
        }

        .rnr-radio-btn .radio input:checked ~ label {
            border: 2px solid #30ce8d;
        }

        .rnr-radio-btn .radio span {
            color: #707070;
            vertical-align: top;
            transition: color 0.25s;
            margin-left: 10px;
            position: relative;
        }

.nominee-name {
    margin-top: 15px;
}

label.nominee-lbl {
    font-size: 20px;
    font-weight: 600;
}
.rnr-radio-btn table tr td span {
    position: relative;
}
.rnr-input {
    position: relative;
    margin-top: 25px;
}

    .rnr-input input:focus {
        outline: none;
    }

    .rnr-input input {
        width: 100%;
        border: 0;
        background: transparent;
        font-size: 16px;
        font-weight: 500;
        color: #707070;
        padding: 10px;
        min-height: 50px;
    }

    .rnr-input label {
        color: #707070;
        opacity: 1;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        position: absolute;
        background: #fff;
        top: -11px;
        left: 10px;
        padding: 0 9px;
        z-index: 1;
    }

    .rnr-input textarea {
        border-color: #adadad;
        border-radius: 6px;
        font-size: 16px;
        padding: 10px;
        padding-left: 17px;
        width: 100%;
        resize: none;
        border: 1px solid #adadad;
    }

        .rnr-input textarea:focus {
            outline: none;
        }

.nominee-box {
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin-top: 110px;
    box-shadow: 1px 3px 11px 4px #ececec63;
}

.nom-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 25px;
}

    .nom-box-top h5 {
        color: #203442;
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 0;
    }

    .nom-box-top a {
        color: #30ce8d;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 12px;
    }

label.nom-box-lbl {
    background: #30ce8d;
    color: #fff;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 5px;
    position: absolute;
    top: -12px;
    left: 15px;
}

.nom-box-main {
    /* min-height: 120px; */
    border-top: 1px solid #E9E9E9;
    position: relative;
}

    .nom-box-main ul {
        margin-bottom: 0;
        display: flex;
        align-items: center;
        min-height: 110px;
        padding-left: 20px;
    }

        .nom-box-main ul li {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

            .nom-box-main ul li span.sp1 {
                width: 100%;
                color: #203442;
                font-weight: 500;
                /* display: block; */
            }

            .nom-box-main ul li label {
                opacity: 0.7;
                width: 100%;
                font-size: 14px;
            }

.rnr-email-check {
    margin-top: 45px;
}

    .rnr-email-check input {
        width: 17px;
        height: 17px;
        vertical-align: middle;
    }

    .rnr-email-check label {
        opacity: 0.9;
        color: #707070;
        padding-left: 8px;
        font-size: 16px;
        text-transform: capitalize;
    }

.search-emp-m input {
    cursor: pointer;
}

.search-emp-m {
    cursor: pointer;
    margin-top: 0;
}

.search-emp {
    font-size: 17px;
    color: #707070;
    padding: 10px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border: 1px solid #adadad;
    /* padding: 0; */
    border-radius: 8px;
    position: relative;
    margin-bottom: 20px;
}

    .search-emp svg {
        fill: #707070;
        width: 20px;
        height: 20px;
    }

.rnr-modal-head {
    background: linear-gradient( #61F5A3, #49D587);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.rnr-btn {
    background: linear-gradient(#61f5a3,#49d587);
    color: #fff;
    font-size: 16px;
    letter-spacing: .6px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 12px;
    text-decoration: none;
    box-shadow: 0 3px 6px #84DBAB80;
    border-radius: 3px;
    display: block;
    text-align: center;
    border: 0;
    min-width: 110px;
}
.rnr-btn-reset {
    background: linear-gradient(#daf322,#b0d829);
}

.rnr-btn-preview {
    background: linear-gradient(#5c5fec,#8988ec);
}

.modal-footer {
    border: 0;
}

    .modal-footer .close {
        color: #000;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 16px;
        margin-right: 40px;
    }

button:focus {
    outline: none;
}

.send-awards button {
    width: 270px;
    padding: 9px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
}

.send-awards input {
    width: auto;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    display: inline-block;
    margin-right: 6px;
}

.send-awards {
    margin-top: 10px;
}

.rnr-search-bar input[type="search"] {
    -webkit-appearance: none !important;
    background-clip: padding-box;
    background-color: white;
    vertical-align: middle;
    border-radius: 0.25rem;
    border: 0;
    font-size: 1rem;
    width: 100%;
    line-height: 2;
    padding: 0.375rem 1.25rem;
    -webkit-transition: border-color 0.2s;
    transition: border-color 0.2s;
}

    .rnr-search-bar input[type="search"]:focus {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        box-shadow: 0 0 10px #55e59545;
        border-color: #52e191;
        outline: none;
    }

.rnr-search-bar {
    margin-top: 20px;
    position: relative;
}

    .rnr-search-bar form.search-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border: 1px solid #ccc;
        width: 50%;
        border-radius: 7px;
        overflow: hidden;
    }

    .rnr-search-bar div.search-form {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        border: 1px solid #ccc;
        width: 50%;
        border-radius: 7px;
        overflow: hidden;
    }

    .rnr-search-bar label.search-top-lbl {
        color: #707070;
        opacity: 1;
        font-size: 14px;
        font-weight: 300;
        margin: 0;
        position: absolute;
        background: #fff;
        top: -11px;
        left: 10px;
        padding: 0 9px;
        z-index: 1;
        letter-spacing: 0.3px;
    }

    .rnr-search-bar label {
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        align-self: center;
        margin-bottom: 0;
    }

    .rnr-search-bar input.search-field {
        margin-bottom: 0;
        -webkit-box-flex: 1;
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: auto;
        align-self: center;
        height: 51px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        color: #707070;
    }

    .rnr-search-bar input.search-submit {
        height: 51px;
        margin: 0;
        width: 45px;
        /* padding: 1rem 1.3rem; */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0.25rem;
        border-bottom-right-radius: 0.25rem;
        font-family: "Font Awesome 5 Free";
        font-size: 1rem;
        z-index: 2;
    }

    .rnr-search-bar .screen-reader-text {
        clip: rect(1px, 1px, 1px, 1px);
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
    }

    .rnr-search-bar .button {
        display: inline-block;
        font-weight: 600;
        font-size: 0.8rem;
        line-height: 1.15;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        background: transparent;
        color: transparent;
        border: 1px solid transparent;
        vertical-align: middle;
        text-shadow: none;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

        .rnr-search-bar .button:hover,
        .rnr-search-bar .button:active,
        .rnr-search-bar .button:focus {
            cursor: pointer;
            /* background: #d4b743;
  color: #292826; */
            outline: 0;
        }

    .rnr-search-bar span.search-svg {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .rnr-search-bar svg {
        position: absolute;
        width: 20px;
        height: 20px;
        fill: grey;
        z-index: 1;
    }

.search-svg:hover svg {
    fill: #333;
}

.search-emp-modal .modal-dialog {
    max-width: 65%;
    top: 50%;
    transform: translateY(-50%) !important;
    z-index: 999;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.rnr-table {
    margin-top: 30px;
}

.table-scroll {
    position: relative;
    width: 100%;
    z-index: 1;
    margin: auto;
    overflow: auto;
    max-height: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
    /* width */
    .table-scroll::-webkit-scrollbar {
        width: 12px;
    }

    /* Track */
    .table-scroll::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .table-scroll::-webkit-scrollbar-thumb {
        background: #ccc;
    }

        /* Handle on hover */
        .table-scroll::-webkit-scrollbar-thumb:hover {
            background: #53e393;
        }

    .table-scroll table {
        width: 100%;
        /* min-width: 1280px; */
        margin: auto;
        border-collapse: separate;
        border-spacing: 0;
        border: 0;
    }

        .table-scroll table tr {
            border-width: 0!important;
        }

.table-wrap {
    position: relative;
}

.table-scroll th,
.table-scroll td {
    padding: 10px 10px;
    color: #707070;
    border-bottom: 1px solid #e0e0e0;
    border-left: 0;
    background: #fff;
    vertical-align: top;
    /* border: 0!important; */
    border-right: 0;
    border-top: 0;
}

.table-scroll tr:last-child td {
    border: 0;
}

.table-scroll thead th {
    background: #F7F6F1;
    color: #707070;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 400;
    z-index: 1;
}


.table-scroll tr th {
    text-align: left !important;
    background: #F7F6F1;
    color: #707070;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-weight: 400;
    z-index: 1;
    white-space: nowrap;
}
/* safari and ios need the tfoot itself to be position:sticky also */
.table-scroll tfoot,
.table-scroll tfoot th,
.table-scroll tfoot td {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    background: #666;
    color: #fff;
    z-index: 4;
}


thead th:first-child,
tfoot th:first-child {
    z-index: 5;
}

.rnr-email-check.table-check {
    margin: 0;
}

ul.budget-widget {
    background: #30ce8d;
    display: flex;
    color: #fff;
    border-radius: 35px;
    overflow: hidden;
    margin: 0 0 0 0;
    width: auto;
    transition: all 0.5s ease-in-out;
}

    ul.budget-widget li {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px 25px;
        position: relative;
    }

li.budget-used:before {
    content: "";
    width: 20px;
    position: absolute;
    background: #e31837;
    height: 100%;
    left: -8px;
    transform: skewX(-15deg);
}

li.budget-available:before {
    content: "";
    width: 20px;
    position: absolute;
    background: #30ce8d;
    height: 100%;
    left: -8px;
    transform: skewX(-15deg);
}

.budget-widget .budget-txt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

span.big-b {
    font-size: 17px;
}

span.small-b {
    font-size: 14px;
}

h4.budget-value {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
}

.budget-txt span.big-b, .budget-txt span.small-b {
    width: 100%;
    line-height: 1;
    font-weight: 600;
    /* max-width: 150px; */
}

.rnr-breadcrumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0 0;
}

li.total-buget {
    background: #f7d367;
}

li.budget-used {
    background: #e31837;
}

.budget-widget .budget-txt {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
}

li.total-buget .budget-txt {
    max-width: 130px;
}

ul.budget-widget li.budget-used, ul.budget-widget li.budget-available {
    padding-left: 15px;
}

ul.budget-widget:hover {
    width: auto;
    transition: all 0.5s ease-in-out;
}

ul.budget-widget li.total-buget, ul.budget-widget li.budget-used {
    display: flex;
    transition: all 0.5s ease-in-out;
}

li.budget-available svg {
    visibility: visible;
}

ul.budget-widget:hover li.budget-available svg {
    /*visibility: hidden;*/
    /*display: none;*/
}

ul.budget-widget:hover li.total-buget, ul.budget-widget:hover li.budget-used {
    display: flex;
    transition: all 0.5s ease-in-out;
}

li.budget-available .budget-txt {
    margin-left: 9px;
    /* display: none; */
}

li.budget-available {
    max-width: 260px;
}

ul.budget-widget:hover li.budget-available {
    /*max-width: 260px;*/
}

li.budget-available svg {
    width: 28px;
    height: 28px;
}
/* rnr my-award end */

/* rnr send E Cards start */
.send-ecard .rnr-input.search-emp-m {
    max-width: 800px;
    margin: 0 auto;
    background: #F9F9F9;
    border: 1px solid #e0e0e0;
    /* padding: 18px; */
}

    .send-ecard .rnr-input.search-emp-m.step-2 {
        padding-bottom: 20px;
    }

.send-ecard .search-emp {
    border: 0;
    margin: 0;
    padding: 0;
    border-top: 1px solid #e0e0e0;
    border-radius: 0;
    min-height: 65px;
}

.ecard-search-head {
    display: flex;
    align-items: center;
    padding: 14px 18px;
}

    .ecard-search-head h4 {
        width: calc(100% - 80px);
        text-align: center;
        color: #30ce8d;
        margin: 0;
        /*  text-transform: uppercase;*/
        font-weight: 400;
        font-size: 22px;
    }

.send-ecard .search-emp-m input {
    font-size: 20px;
    padding: 15px;
}

.send-ecard .search-emp svg {
    margin-right: 15px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #203442;
    opacity: 0.6;
}

.send-ecard .nominee-box {
    margin-top: 0;
    border-radius: 0;
    border: 0;
    border-top: 1px solid #E9E9E9;
    box-shadow: none;
}

.send-ecard .nom-box-top {
    padding: 15px 20px 25px;
}

    .send-ecard .nom-box-top svg {
        width: 16px;
        height: 16px;
        fill: #707070;
    }

.send-ecard .nom-box-main ul li label {
    opacity: 0.7;
    width: 100%;
    position: static;
    background: transparent;
    padding: 0;
}

.send-ecard label.nom-box-lbl {
    background: #203442;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 11px;
    padding: 3px 10px;
}

.send-ecard .nom-box-main {
    padding: 20px 0;
}

    .send-ecard .nom-box-main ul {
        flex-wrap: wrap;
        min-height: auto;
    }

        .send-ecard .nom-box-main ul li {
            margin-bottom: 10px;
        }

.send-ecard .search-emp-m .send-ecard-message input {
    font-size: 18px;
    padding: 0 20px;
    min-height: 40px;
}

.send-awards.send-ecard {
    margin: 0;
    position: absolute;
    bottom: -23px;
    width: 100%;
}

    .send-awards.send-ecard button {
        margin: 0 auto;
        width: auto;
        padding: 10px 35px;
    }

.rnr-input.search-emp-m.success-ecard {
    /* min-height: 300px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0;
    border-radius: 4px;
    box-shadow: 0 2px 7px #0000002b;
}

.success-ecard h3 {
    color: #30ce8d;
    font-size: 3rem;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
}

.success-ecard h5 {
    color: #8a8a8a;
}
/* rnr send E cards end */

/* budget page */
.rnr-breadcrumb ul.breadcrumb {
    margin-left: 35px;
}

.rnr-budget {
    margin-top: -80px;
    padding: 0 15px;
}

    .rnr-budget h3.rnr-h3-top {
        color: rgba(255, 255, 255, 0.91);
        font-weight: 300;
        font-size: 28px;
        margin-bottom: 25px;
    }

        .rnr-budget h3.rnr-h3-top small {
            font-size: 20px;
        }

ul.middle-chart {
    position: absolute;
    left: 25%;
    transform: translateX(-35%);
    text-transform: uppercase;
    line-height: 1;
}

li.chart-b-value {
    font-size: 42px;
    font-weight: 600;
}

ul.middle-chart li:nth-child(2) {
    font-size: 18px;
    font-weight: 600;
}

ul.middle-chart li:last-child {
    font-size: 14px;
    font-weight: 600;
}

.budget-chart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}

.rnr-red {
    color: #e31837;
}

.rnr-green {
    color: #30ce8d;
}

ul.budget-legends {
    margin: 0 0 0 35px;
}

    ul.budget-legends li {
        border-bottom: 1px solid rgba(204, 204, 204, 0.5);
        padding: 0 10px 7px;
    }

        ul.budget-legends li:last-child {
            border: 0;
        }

        ul.budget-legends li h2 {
            margin: 0;
            font-weight: 600;
            margin: 0 0 -4px;
            font-size: 35px;
        }

        ul.budget-legends li span {
            opacity: 0.5;
        }

.budget .rnr-input.search-emp-m {
    width: auto !important;
    border-radius: 4px;
}

.budget .ecard-search-head svg {
    margin-right: 20px;
}

.budget .ecard-search-head h4 {
    width: auto;
}

.budget .ecard-search-head {
    padding: 18px 25px;
}

.send-ecard.budget .step-1.search-emp-m input {
    font-size: 20px;
    padding: 23px;
    color: #707070;
    opacity: 1;
    font-weight: 500;
}

.send-ecard.budget .nom-box-main ul li {
    margin-bottom: 10px;
    margin-right: 30px;
}

.send-ecard.budget .search-emp-m ul li input {
    padding: 0;
    font-size: 17px;
    min-height: 40px;
    cursor: text;
}

.send-ecard.budget .nom-box-main ul li label {
    opacity: 0.9;
}

.send-ecard.budget .nom-box-main ul li:last-child {
    width: 60%;
}

.rnr-input.search-emp-m.success-ecard ul {
    text-align: center;
    padding: 0 100px;
}

.budget .success-ecard h3 {
    color: #30ce8d;
    font-size: 2rem;
    text-transform: uppercase;
}

.budget .success-ecard h5 {
    color: #8a8a8a;
    font-weight: 500;
    font-size: 18px;
}

a.new-transfer {
    position: absolute;
    bottom: 20px;
    color: #59d09f;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    transition: 0.25s linear all;
}

    a.new-transfer:hover {
        color: #1ade8d;
        letter-spacing: 0.5px;
        transition: 0.25s linear all;
    }

.budget .rnr-input.search-emp-m.success-ecard {
    padding: 70px 0;
}
/* budget page end */

/* award given by me start */
.awards-givenby-me .rnr-table h3 {
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 20px;
}

/* From here you can start to copy */
.awards-givenby-me .table-scroll {
    height: 280px;
}

.date-search-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rnr-input.rnr-date {
    border: 1px solid #adadad;
    padding: 0;
    border-radius: 8px;
    position: relative;
    margin: 0;
    /* overflow: hidden; */
    width: 100%;
    margin-right: 20px;
}

    .rnr-input.rnr-date input {
        min-height: 45px;
    }

.date-search-panel .rnr-btn {
    height: 45px;
    border-radius: 8px;
    min-width: 250px;
    font-size: 20px;
    font-weight: normal;
}

.calendar {
    padding: 8px;
    background: #ffffff;
    border-radius: 4px;
    font-size: 18px;
    border: 1px solid #333333;
}

.ui-datepicker {
    background: #ffffff;
    border-radius: 7px;
    border: 1px solid #ccc;
    overflow: hidden;
    width: 408px;
    z-index: 999 !important;
}

.ui-datepicker-header {
    height: 50px;
    line-height: 50px;
    color: #ffffff;
    background: #e31837;
    margin-bottom: 10px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    width: 20px;
    height: 20px;
    text-indent: 9999px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    margin-top: 12px;
}

.ui-datepicker-prev {
    float: left;
    margin-left: 12px;
}

    .ui-datepicker-prev:after {
        transform: rotate(45deg);
        margin: -43px 0px 0px 8px;
    }

.ui-datepicker-next {
    float: right;
    margin-right: 12px;
}

    .ui-datepicker-next:after {
        transform: rotate(-135deg);
        margin: -43px 0px 0px 6px;
    }

    .ui-datepicker-prev:after,
    .ui-datepicker-next:after {
        content: '';
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border-left: 2px solid #ffffff;
        border-bottom: 2px solid #ffffff;
    }

    .ui-datepicker-prev:hover,
    .ui-datepicker-next:hover,
    .ui-datepicker-prev:hover:after,
    .ui-datepicker-next:hover:after {
        border-color: #333333;
    }

.ui-datepicker-title {
    text-align: center;
    font-size: 22px;
}

.ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

    .ui-datepicker-calendar thead tr th span {
        display: block;
        width: 40px;
        color: #203442;
        margin-bottom: 5px;
        font-size: 18px;
    }

.ui-state-default {
    display: block;
    text-decoration: none;
    color: #333333;
    line-height: 40px;
    font-size: 16px;
}

    .ui-state-default:hover {
        color: #ffffff;
        background: #203442;
        border-radius: 50px;
        transition: all 0.25s cubic-bezier(0.7, -0.12, 0.2, 1.12);
    }

/*.ui-state-highlight {
    color: #ffffff;
    background-color: #203442;
    border-radius: 50px;
}*/

}

.ui-state-active {
    color: #ffffff;
    background-color: #31639c;
    border-radius: 50px;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #eee;
    border: 2px solid transparent;
}

.icon {
    margin-left: -30px;
    margin-top: -26px;
    position: relative;
    color: #31639c;
    font-size: 20px;
    display: none;
}
/* award give by me end */

/*karishma start css*/


div#tabs-1 .mahindra_drop_down_div.rnr-dd.award-top-dd {
    width: auto;
}

.mahindra_drop_down_div select {
    width: 100%!important;
    -webkit-appearance: none;
    border: 0;
    padding: 14px 17px;
    background: transparent;
    margin-top: 0px;
    padding-right: 40px;
    color: #333;
    /* opacity: 0.3; */
    font-family: 'Calibri'!important;
    font-size: 16px;
    background-image: url(/assets/images/dwn_arrow.png);
    background-repeat: no-repeat;
    background-position: 96% 23px;
}

div#tabs-1 .rnr-input.Certificate-text p.text-right {
    padding-right: 20px;
    color: #636363;
    margin-bottom: 0;
}

div#tabs-1 .nominee-box {
    margin-top: 25px;
}

div#tabs-1 .rnr-email-check {
    margin-top: 0px;
}

div#tabs-1 .nom-box-main ul {
    margin-bottom: 0;
    min-height: 100px;
    margin-top: 10px;
}

div#tabs-2 .mahindra_drop_down_div.rnr-dd.award-top-dd {
    width: auto;
}

.result-p {
    margin-bottom: 0;
    position: absolute;
    margin-top: 20px;
    color: #707070;
    font-size: 16px;
}

div#search-emp-modal .modal-footer {
    padding-top: 0;
}

.award-pop-right svg {
    height: 70px;
    margin-right: 10px;
}

.award-pop-right {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

    .award-pop-right svg path.cp2, .award-pop-right svg path.cp-stroke,
    .award-pop-right svg path.cp2, .award-pop-right svg path.cp-stroke {
        fill: #30ce8d;
        color: #30ce8d;
    }

    .award-pop-right .tb-text span.t1 {
        width: 100%;
        display: block;
        font-size: 20px;
        color: #30CE8D;
    }

    .award-pop-right .tb-text span.t2 {
        width: 100%;
        display: block;
        font-size: 18px;
        color: #707070;
    }

div#award-preview-popup .nom-box-top h5 {
    color: #203442;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
}

div#award-preview-popup .nominee-box {
    background: #F9F9F9;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
    margin: 40px;
    box-shadow: none;
    margin-bottom: 0;
    padding-bottom: 15px;
}

div#award-preview-popup .nom-box-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 5px;
}

div#award-preview-popup .nom-box-main ul {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    min-height: 110px;
    padding: 20px;
}

div#award-preview-popup .nom-box-main p {
    padding: 0 20px;
    color: #203442;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 0;
}

div#award-preview-popup .modal-footer {
    padding: 30px 50px 30px;
}

div#award-preview-popup .modal-body {
    padding-bottom: 0;
}


div#award-preview-popup button.rnr-btn {
    background: linear-gradient(#61f5a3,#49d587);
    padding: 10px 12px;
    min-width: 130px;
}

div#award-preview-popup .nom-box-main .reason-span {
    padding: 0 20px;
    font-size: 14px;
    color: #707070;
}

div#award-preview-popup .modal-header.rnr-modal-head {
    padding: 15px 40px;
}

div#award-preview-popup .nom-box-main ul li span.sp1 {
    width: 100%;
    color: #203442;
    font-weight: normal;
    /* display: block; */
    font-size: 16px;
}

label.min-char {
    left: 70%;
}

.rnr-table-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .rnr-table-head a.down-excel {
        color: #30CE8D;
        font-size: 12px;
        text-transform: uppercase;
    }

        .rnr-table-head a.down-excel span {
            vertical-align: middle;
        }

        .rnr-table-head a.down-excel svg {
            margin-left: 5px;
        }

        .rnr-table-head a.down-excel:hover {
            text-decoration: none;
        }

body.send-ecard .mahindra_drop_down_div.rnr-dd.award-top-dd {
    width: calc(24% - 10px);
    margin: 0 auto;
    margin-bottom: 25px;
}

body.send-ecard .rnr-input.search-emp-m.step-1 {
    max-width: 800px;
}

body.send-ecard div#tabs-1 .ecard-search-head h4,
body.send-ecard div#tabs-2 .ecard-search-head h4,
body.send-ecard div#tabs-3 .ecard-search-head h4 {
    padding-left: 30px;
    text-align: left;
}

div#tabs-1 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop,
div#tabs-2 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop,
div#tabs-3 .mahindra_drop_down_div.rnr-dd.award-top-dd.sd-drop {
    width: calc(24% - 10px);
}

.mess-dflex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px 0px;
}

    .mess-dflex p {
        opacity: 0.7;
        color: #707070;
        font-size: 15px;
    }

.report-wrapper {
    background-color: #F9F9F9;
    padding: 40px 20px;
    width: 80%;
    margin: 0 auto;
    box-shadow: 0px 10px 15px #00000008;
    border: 1px solid #70707026;
    border-radius: 4px;
}

    .report-wrapper .mahindra_drop_down_div.rnr-dd.award-top-dd {
        width: auto;
        min-width: auto;
        margin-bottom: 0;
        background-color: #fff;
    }

.report-search-but {
    margin-top: 0px;
}

    .report-search-but button.rnr-btn {
        min-width: 215px;
        padding: 10px 12px;
        font-size: 20px;
        font-weight: normal;
    }

.report-list-wrap {
    margin-top: 30px;
}

    .report-list-wrap ul li {
        width: 200px;
        background-color: #F7F6F140;
        text-align: center;
        padding: 25px 0;
        display: inline-block;
        margin-left: 15px;
        margin-bottom: 20px;
        border-radius: 4px;
        border: 0.5px solid #70707033;
    }

.report-in-wrap span {
    color: #30CE8D;
    font-size: 12px;
}

.report-in-wrap p {
    color: #778A90;
    font-size: 10px;
    margin-bottom: 10px;
}

.report-list-wrap ul li:first-child {
    margin-left: 10px;
}

.report-list-wrap ul {
    width: 100%;
}

.report-wrapper .mahindra_drop_down_div.rnr-dd label {
    background-color: transparent;
}

.report-in-wrap a.down-excel:hover {
    text-decoration: none;
}

.report-wrapper .mahindra_drop_down_div.rnr-dd label:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: white;
    left: 0;
    top: 10px;
    z-index: -9;
}

section.main-head-wrap {
    position: absolute;
    bottom: 30%;
    left: 29%;
}


.main-head-div h1 {
    color: #fff;
    font-size: 54px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 12px;
}

.main-head-div span {
    font-size: 24px;
    font-weight: normal;
}

.main-head-div h2 {
    color: #fff;
    font-size: 61px;
    line-height: 0;
    text-transform: uppercase;
    font-weight: normal;
}
/*a.rise-logo {
  background-image: url(../images/Mask-Group.svg);
}*/

.home-tesimonal-wrap {
    padding: 40px 20px;
    top: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home-tesimonal-wrap-inner {
    display: block;
}

.elips-1, .elips-2, .elips-3, .elips-4 {
    position: relative;
    z-index: 9;
}

    .elips-1 img {
        width: 50px;
    }


    .elips-2 img {
        width: 70px;
    }

    .elips-3 img {
        width: 50px;
    }

    .elips-4 img {
        width: 70px;
    }


    .elips-1:hover + .testimain {
        display: block;
    }

    .elips-2:hover + .test-elip-2 {
        display: block;
        transition: all 0.5s ease-in-out;
    }

    .elips-3:hover + .test-elip-3 {
        display: block;
    }

    .elips-4:hover + .test-elip-4 {
        display: block;
    }

.test-elip-2, .test-elip-3, .test-elip-4 {
    display: none;
    transition: all 0.5s ease-in-out;
}

.ability-div ul li {
    background: #edffe1;
    margin-bottom: 5px;
    display: inline-block;
    margin-right: 6px;
    padding: 0 6px;
    color: #373c6f;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
}

.ability-div p {
    margin-bottom: 0;
    font-size: 12px;
    color: #373c6f;
}

.ability-holder-name-box h3 {
    color: #e31837;
    font-style: italic;
    font-weight: bold;
    width: 300px;
    border-bottom: 1px solid #e31837;
    font-size: 30px;
}

.ability-holder-name-box p {
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
    padding-right: 25px;
}

.ability-holder-name-box {
    margin-top: 25px;
}

.Alternative-box .award-pop-right .tb-text span.t1 {
    color: #373c6f;
    padding-bottom: 15px;
    line-height: 17px;
}

.Alternative-box .award-pop-right {
    margin-bottom: 15px;
    margin-top: 0px;
}

    .Alternative-box .award-pop-right .tb-text span.t2 {
        color: #e31937;
        font-size: 27px;
        font-weight: bold;
        line-height: 0;
    }

.congratulation-box h2 {
    font-size: 50px;
    font-style: italic;
    text-align: center;
}

.congratulation-box {
    width: 600px;
    margin: 0 auto;
    /*background-image: url(../images/bg.png);*/
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.testimain p {
    color: #707070;
    font-size: 16px;
    line-height: 22px;
}

    .testimain p:before {
        content: "";
        position: absolute;
        width: 100px;
        height: 100px;
        background-image: url(../images/quote.png);
        background-repeat: no-repeat;
        top: 8px;
        left: 10px;
    }


.testimain h6 {
    font-size: 16px;
    color: #142F43;
    font-weight: bold;
}

textarea::-webkit-input-placeholder, input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #707070;
    opacity: 0.3;
}

textarea::-moz-placeholder, input::-moz-placeholder { /* Firefox 19+ */
    color: #707070;
    opacity: 0.3;
}

textarea:-ms-input-placeholder, input:-ms-input-placeholder { /* IE 10+ */
    color: #707070;
    opacity: 0.3;
}

textarea:-moz-placeholder, input:-moz-placeholder { /* Firefox 18- */
    color: #707070;
    opacity: 0.3;
}

.step-1.search-emp-ms input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #707070;
    opacity: 0.5;
}

.step-1.search-emp-m input::-moz-placeholder { /* Firefox 19+ */
    color: #707070;
    opacity: 0.5;
}

.step-1.search-emp-m input:-ms-input-placeholder { /* IE 10+ */
    color: #707070;
    opacity: 0.5;
}

.step-1.search-emp-m input:-moz-placeholder { /* Firefox 18- */
    color: #707070;
    opacity: 0.5;
}



.rnr-input.rnr-date span:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: red;
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    transition: all 0.5s ease-in-out;
}

.rnr-input.rnr-date span:before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    width: 9px;
    height: 2px;
    background: #707070;
    right: 30px;
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    transition: all 0.5s ease-in-out;
}

.rnr-input.rnr-date span:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    width: 9px;
    height: 2px;
    background: #707070;
    right: 24px;
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    transition: all 0.5s ease-in-out;
}

.rnr-input.rnr-date.ui-datepicker-header span:before {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotateZ(-45deg);
    -o-transform: rotateZ(-45deg);
    transform: rotateZ(-45deg);
    transition: all 0.5s ease-in-out;
}

.rnr-input.rnr-date.ui-datepicker-header span:after {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    transition: all 0.5s ease-in-out;
}

.table-scroll th, .table-scroll td {
    background: #fdfdfb;
    padding-left: 20px;
}

.congratulation-box img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

a.rise-logo {
    padding: 0;
}

img.new-r-logo {
    position: absolute;
    top: 0;
    width: 250px;
    margin-top: 32px;
    left: 0;
}

.logo h3 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    padding-left: 235px;
}



.client-logo img {
    width: 30%;
}

.congo-inner {
    padding: 0 70px;
    height: 500px;
    margin-top: -30px;
}

.Alternative-box .award-pop-right svg {
    height: 50px;
    margin-right: 0px;
    margin-left: 0;
    padding-left: 0;
    margin-top: 20px;
}


a.table-anchor.rnr-grey {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.4px;
}

.rnr-grey {
    color: #707070;
    opacity: 0.3;
}

.rnr-tabs .nav-item.active svg g.custom-path, .rnr-tabs .nav-item:hover svg g.custom-path {
    fill: #30ce8d;
    color: #30ce8d;
}

.rnr-tabs .nav-item svg g.custom-path, .rnr-tabs .nav-item svg g.custom-path {
    fill: #979797;
    color: #979797;
}

.ecard-search-head path.cp-stroke {
    stroke: #30ce8d;
}

.ecard-search-head path.custom-path {
    fill: #30ce8d;
    color: #30ce8d;
}

.give-awards.awards-givenby-me.Firefox .rnr-input input {
    float: left;
}

.hide-box-2 {
    display: none;
    margin-top: 0;
}

#search-nominee-modal .rnr-radio-btn .radio {
    margin-right: 0px;
    border-radius: 50%;
    padding: 5px;
    padding-bottom: 0;
}

    #search-nominee-modal .rnr-radio-btn .radio label {
        width: 17px;
        height: 17px;
        margin-bottom: 0px;
    }

#search-nominee-modal .rnr-radio-btn {
    margin-bottom: 0px;
}

.copyright {
    padding: 10px 0;
    background-color: #F5F7FB;
}

    .copyright p {
        font-size: 14px;
        color: #707070;
        margin-bottom: 0;
    }

.hod-mobile {
    display: none;
}

.tab-pane.Feedback-inn {
    display: block;
}

.rnr-tab-pane.tab-content.Feedback-wrap {
    margin-top: 90px;
}

body#user-feedback .row.rnr-custom-row {
    width: calc(100% - 60%);
}

body#user-feedback .mahindra_drop_down_div.rnr-dd.award-top-dd {
    width: 100%;
    min-width: auto;
}

body#user-feedback .rnr-radio-btn .radio {
    margin-right: 15px;
}

body#user-feedback .send-awards {
    margin-top: 80px;
    display: flex;
}

    body#user-feedback .send-awards button {
        width: 210px;
    }

    body#user-feedback .send-awards input {
        width: 210px;
    }

.send-awards button.close span {
    color: #6E7373;
    opacity: 1;
    font-size: 16px;
    font-weight: 600;
}

body#user-feedback button.close {
    opacity: 1;
}


.file-upload {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    width: 100%;
}

.file-upload__input {
    display: none;
}

.file-upload__button {
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0px;
    outline: none;
    padding: 0.5em 0.8em;
    margin-right: 15px;
    color: #707070;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    cursor: pointer;
    margin-top: 9px;
}

    .file-upload__button:active {
        background: transparent;
        border: 1px solid transparent;
    }

.file-upload__label {
    max-width: 250px;
    font-size: 0.95em;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Poppins", sans-serif;
}

span#file-upload-filename {
    font-size: 14px;
    font-weight: normal;
}

    span#file-upload-filename::before, span#file-upload-filename::after {
        display: none;
    }

.file-upload p {
    margin: 0;
}

.file-upload a {
    margin: 0;
    color: red;
}


div#award-redemption .nominee-box {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    margin-top: 0px;
    box-shadow: none;
    padding: 30px 0px 0px;
}

div#award-redemption .nom-box-main {
    border-top: 1px solid #ffffff;
    position: relative;
}

    div#award-redemption .nom-box-main p {
        color: #707070;
        font-size: 16px;
    }

div#award-redemption .nom-box-top h5 {
    color: #203442;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
    margin-bottom: 0;
}

div#award-redemption .nom-box-top {
    padding: 15px 0px 25px;
}

div#award-redemption .rnr-radio-btn .radio {
    margin-right: 10px;
    border-radius: 50%;
    padding: 5px;
    padding-top: 15px;
}

div#award-redemption .radio.other-recipent11 {
    padding-top: 0;
}

div#award-redemption .modal-body {
    width: 70%;
    margin: 0 auto;
}

.popup-p {
    font-size: 14px;
    font-style: italic;
    margin-bottom: 0;
    font-weight: 100;
}

h5.modal-title {
    font-size: 24px;
}

.budget-mobile {
    display: none;
}

/*.modal.show .modal-dialog {
 
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
}*/

.maree-box ul {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .maree-box ul li {
        margin-left: 23px;
        display: inline-block;
    }

div#award-redemption h5.modal-title {
    padding-left: 20px;
}

.Firefox .rnr-input textarea, .Edge .rnr-input textarea {
    border: 1px solid #adadad;
}

.Firefox .table-scroll th, .Firefox .table-scroll td {
    background: #fdfdfb;
    padding-left: 10px;
}

a.table-anchor.rnr-grey:hover {
    color: #707070;
    opacity: 0.3;
}

/* Float testimonial start */

section.testimonial_wrap {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    overflow: hidden;
}

    section.testimonial_wrap .col-md-6.offset-md-6 {
        overflow: hidden;
    }

.testimonial_inner {
    box-sizing: border-box;
    position: relative;
}

.testimonial_inner {
    display: block;
    width: 100%;
    margin: 120px 0 70px 100px;
    position: relative;
    animation: testimonial_inner 20s linear infinite;
    transition: 0.3s all ease-in-out;
}

    .testimonial_inner:hover {
        animation-play-state: paused;
    }
    .testimonial_inner.animation_stopped {
        animation: 0;
    }
/*.half {
  float: left;
  width: 10%;
}*/


@keyframes testimonial_inner {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}

.testimonial_inner ul li {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
}

.testi-box {
    position: relative;
    z-index: 2;
    transition: all .2s ease-out;
}

.testimonial_inner ul li:nth-child(2) {
    padding-top: 150px;
}


.testimonial_inner .testi-img.width-small img {
    width: 50px;
    /*height: 50px;*/
    border-radius: 50px;
}

.testimonial_inner .testi-img.width-mid img {
    width: 60px;
    /*height: 60px;*/
    border-radius: 50px;
    border: 2px solid #b19d41;
}

.testimonial_inner .testi-img.width-lg img {
    width: 70px;
    /*height: 70px;*/
    border-radius: 50px;
}

.testimonial_inner ul li:nth-child(4) {
    padding-top: 200px;
}

.testimonial_inner ul li:nth-child(6) {
    padding-top: 220px;
}

.testi-img {
    transition: all .2s ease-out;
}

.testimain {
    width: 350px;
    opacity: 0;
    visibility: hidden;
    border: 4px solid #FFFFFF;
    border-radius: 12px;
    padding: 30px;
    /* top: -2px; */
    /* left: 0%; */
    bottom: -8px;
    right: -70%;
    z-index: -1;
    margin: 0 auto;
    position: absolute;
    background: transparent radial-gradient(closest-side at 77% 94%, #FFFFFF 0%, #F8F8F8 100%) 0% 0% no-repeat padding-box;
    transition: 0.3s all ease-in-out;
    transform: scale(0.9);
}

    .testimain.show {
        opacity: 1;
        visibility: visible;
        transform: scale(0.9);
    }

.testi-img a:hover .testimain {
    opacity: 1;
}

.testi-img a:hover img {
    transform: scale(1.4);
}



/*Float testimonial end*/

.date-box h4 {
    font-size: 20px;
    color: #e31837;
    font-style: italic;
    font-weight: 500;
    font-size: 19px;
    margin-bottom: 0;
}

    .date-box h4:before {
        content: '';
        position: absolute;
        width: 120px;
        height: 1px;
        background-color: #e3183782;
        bottom: 108px;
    }

.date-box span {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}

.date-box-wrap ul li {
    display: inline-block;
    width: 150px;
    margin-right: 12px;
}



.date-box-wrap {
    margin-top: 30px;
}

    .date-box-wrap ul li:nth-child(2) {
        width: 200px;
    }

.date-box.hod h4:before {
    content: '';
    position: absolute;
    width: 170px;
    height: 1px;
    background-color: #e3183782;
    bottom: 108px;
}

body#user-feedback .search-emp-m input {
    cursor: auto;
}

div#accepting-no-limit .modal-dialog {
    transform: none !IMPORTANT;
    top: 5%;
}

div#certificate-modal .modal-dialog {
    transform: none !IMPORTANT;
    top: 5%;
}

div#driving-positive-modal .modal-dialog {
    transform: none !IMPORTANT;
    top: 5%;
}
/*karishma end css*/


@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media only screen and (max-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    img.new-r-logo {
        top: 8px;
    }
    .logo h3 {
        margin-top: 33px;
        display: none;
    }
    .home_header_menu .right-nav {
        width: calc(100% - 0px);
    }
    div.navPan .topMenu ul li.has-popup a, div.navPan .topMenu ul li.has-popup a.active {
        background-position: 98% 50%;
    }
}

@media only screen and (max-width: 1024px) and (max-height: 768px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
    img.new-r-logo {
        top: 8px;
    }
    .logo h3 {
        margin-top: 33px;
        display: none;
    }
    .home_header_menu .right-nav {
        width: calc(100% - 0px);
    }
    div.navPan .topMenu ul li.has-popup a, div.navPan .topMenu ul li.has-popup a.active {
        background-position: 98% 50%;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    div.navPan .userNm {
        margin-left: 0;
    }
    img.new-r-logo {
        width: 200px;
    }
    .logo h3 {
        /*margin-top: 33px;*/
        display: none!important;
    }
}
@media (min-width:811px) and (max-width:812px) {
    img.new-r-logo {
        width: 200px!important;
    }
    section.testimonial_wrap {
        display: none!important;
    }
    .ftHold .ftData div:first-child {
        float: left!important;
    }
    .ftHold .ftData div:last-child {
        float: right!important;
        text-align: right;
    }
    section.main-head-wrap {
        bottom: 52%!important;
        left: 40%!important;
    }
    .rnr-radio-btn .radio table tr {
        display: table!important;
    }
}
@media (min-width:822px) and (max-width:823px) {    
    .rnr-radio-btn .radio table tr {
        display: table!important;
    }
}
@media screen and (max-width: 1023px) {

}

@media screen and (max-width: 768px) {
     div.navPan .userNm {
        margin-left: 0;
    }
    img.new-r-logo {
        width: 200px;
    }
    .logo h3 {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
    div.rtPan {
        padding: 0;
    }
    .rnr-tabs li.nav-item:last-child {

    }
    .rnr-tabs .tab-list {
        padding: 0 15px;
    }
    .rnr-search-bar div.search-form {
        width: 100%;
    }
    .modal-content {
        width: 100%!important;
    }
    div.innerHold {
        height: auto!important;
    }
    .RadPicker .rcTable {
        width: 90%!important;
    }
}
@media only screen and (max-width: 766px) {
    .logo {
        height: auto!important;
    }
    .logo h3 {
        left: 0px!important;
        position: absolute!important;
        margin-top: 12px!important;
        display: block!important;
    }
    div.navPan .userNm ul {
        margin-bottom: 4px;
    }
    div.navPan .userNm ul li:nth-child(2) {
        margin-top: 17px!important;
    }
    .show-mainmenu img {
        position: relative;
        top: -1px;
    }
    div#homeMenu, div#MainMenu {
        display: none;
        background-color: #203442;
    }
    section.testimonial_wrap {
        display: none;
    }
}


.grdAwards_new td table td {
    padding: 0 3px;
    border: 0;
}

.grdAwards_new td table {
    width:140px;
}

.grdAwards_new td table td label {
    margin-left:2px;
}

.grdAwards_new td, .grdAwards_new th {
    padding: 5px 10px;
    /*text-align: center;*/
}

.rightcontent h3 {
    font-size: 16px;
    font-weight: bold;
}

.rightcontent li {
    font-size: 13px;
    /* list-style-type: circle; */
    border-bottom: #dadada 1px solid;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 12px;
    position: relative;
}

.rightcontent li:before {
    content: "";
    background: #e11937;
    border-radius: 100px;
    position: absolute;
    /* transform: translate(19px, -7px); */
    border: 1px solid #e11937;
    width: 6px;
    height: 6px;
    left: 0;
    top: 13px;
}

.rightcontent li:last-child {
    border-bottom: 0px;
}

.drivenpanel .rnr-table
{margin-top:0px !important}


