@font-face {
	font-family: 'ARIAL';
	src: url('fonts/ARIAL.ttf') format('ttf'), url('fonts/ARIAL.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
/* *{
	font-family: 'ARIAL';
} */
body.home{
	overflow: hidden;
}
header {
    height: 55px;
    background: #0052c6;
    width: calc(100% - 55px);
}
header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 10px;
		height: 100%;
}
.vdo-logo {
    position: relative;
    display: block;
    width: 70px;
    height: 45px;
}
.vdo-logo svg {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -5px;
}
.middle-head {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vdo_drop_down_div {
	width: auto;
	position: relative;
	z-index: 2;
	padding: 10px;
	margin-top: 0;
	background: #1a64cc;
}
.vdo_drop_down_div span small {
	position: relative;
	z-index: 1;
	display: block;
}
.vdo_drop_down_div span svg {
	position: absolute;
	left: 0;
	bottom: 0;
	fill: #fff;
}
.vdo_drop_down_div span {
	font-weight: 800;
	font-size: 15px;
	color: #fff;
	line-height: 16px;
	position: relative;
	padding: 0;
	padding-top: 0;
	width: 100%;
	display: block;
	cursor: pointer;
	z-index: 3;
}
.vdo_drop_down_div span:before {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	width: 6px;
	height: 2px;
	background: #fff;
	right: 3px;
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	transition: all 0.5s ease-in-out;
}
.vdo_drop_down_div span:after {
	content: "";
	position: absolute;
	top: calc(50% - 2px);
	width: 6px;
	height: 2px;
	background: #fff;
	right: 0;
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	transition: all 0.5s ease-in-out;
}
.vdo_drop_down_div.vdo_open_drop span:before {
	-webkit-transform: rotateZ(-45deg);
	-ms-transform: rotateZ(-45deg);
	-o-transform: rotateZ(-45deg);
	transform: rotateZ(-45deg);
	transition: all 0.5s ease-in-out;
}
.vdo_drop_down_div.vdo_open_drop span:after {
	-webkit-transform: rotateZ(45deg);
	-ms-transform: rotateZ(45deg);
	-o-transform: rotateZ(45deg);
	transform: rotateZ(45deg);
	transition: all 0.5s ease-in-out;
}
.vdo_drop_down_div ul {
	position: absolute;
	width: 100%;
	border-bottom: 3px solid #0052c6;
	overflow: hidden;
	padding-top: 30px;
	margin-top: -15px;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	-webkit-box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
	box-shadow: 0 15px 15px -6px rgba(0, 0, 0, 0.3);
	z-index: 2;
	left: 0;
}
ul{
	padding-left: 0;
	list-style-type: none;
}
.vdo_drop_down_div.eco-dd {
    min-width: 250px;
		margin-right: 10px;
}
.vdo_drop_down_div {
    padding: 10px 13px;
    background: #1a64cc;
		min-width: 90px;
}
/* .vdo_drop_down_div.user-dd {
    display: flex;
} */
.vdo_drop_down_div.vdo_open_drop ul {
	opacity: 1;
	height: auto;
	transition: all 0.5s ease-in-out;
	margin-top: -15px;
	left: 0;
}
.Internet-Explorer .vdo_drop_down_div ul svg {
	width: 100%;
	height: 34px;
}
.vdo_drop_down_div ul svg {
	position: absolute;
	top: 10px;
	fill: #fff;
}
.vdo_drop_down_div span .member-icon svg {
    width: 30px;
    height: 30px;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}
.vdo_drop_down_div ul li {
	color: rgba(0, 0, 0, 0.4);
	background: #f7f7f7;
	position: relative;
	padding: 6px 20px;
	font-size: 13px;
	line-height: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}
.vdo_drop_down_div ul li:first-child {
    padding-top: 15px;
}
.vdo_drop_down_div ul li:last-child {
    padding-bottom: 15px;
}
.vdo_drop_down_div ul li:hover, .vdo_drop_down_div ul li.active {
	color: rgba(0, 0, 0, 1);
	transition: all 0.5s ease-in-out;
}
.right-head {
    height: 100%;
}
.right-head ul{
		justify-content: center;
    display: flex;
    align-items: center;
		margin: 0;
		padding-right: 10px;
		height: 100%;
}
.right-head>ul>li {
    margin: 0;
		cursor: pointer;
		padding: 3px 0;
		height: 100%;
    display: flex;
    align-items: center;
		transition: 0.25s linear all;
}
.right-head>ul>li.active, .right-head>ul>li:hover {
    background: #3a79d2;
		transition: 0.25s linear all;
}
.right-head h4.cl-head{
	margin: 10px 15px;
}
.notificationbox {
    display: none;
    background: #f7f7f7;
    width: 300px;
    position: absolute;
    height: 200px;
    right: 65px;
    top: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
		border-bottom: 3px solid #0052c6;
		transition: 0.25s linear all;
}
/* .notificationbox:before {
    content: "";
    background: #f7f7f7;
    height: 10px;
    width: 5px;
    display: block;
    position: absolute;
    top: -7px;
    right: 90px;
    border-radius: 40px;
} */
.notification.active .notificationbox{
	display: block;
	transition: 0.25s linear all;
}
.settingbox {
    display: none;
    background: #f7f7f7;
    width: 250px;
    position: absolute;
    height: 200px;
		right: 65px;
    top: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
		border-bottom: 3px solid #0052c6;
		transition: 0.25s linear all;
}
/* .settingbox:before {
    content: "";
    background: #f7f7f7;
    height: 10px;
    width: 5px;
    display: block;
    position: absolute;
    top: -7px;
    right: 54px;
    border-radius: 40px;
} */
.setting.active .settingbox{
	display: block;
	transition: 0.25s linear all;
}
.accountbox {
    display: none;
    background: #f7f7f7;
    width: 120px;
    position: absolute;
    height: 80px;
		right: 65px;
    top: 55px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
		border-bottom: 3px solid #0052c6;
		transition: 0.25s linear all;
}
.account.active .accountbox{
	display: block;
	transition: 0.25s linear all;
}
/* .accountbox:before {
    content: "";
    background: #f7f7f7;
    height: 10px;
    width: 5px;
    display: block;
    position: absolute;
    top: -7px;
    right: 19px;
    border-radius: 40px;
} */
.accountbox ul, .settingbox ul, .notificationbox ul {
    padding: 10px 15px;
}
.accountbox ul li a {
    color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    font-weight: 600;
		text-decoration: none;
		display: block;
		transition: 0.25s linear all;
}
.accountbox ul li:hover a{
		color: rgba(0, 0, 0, 1);
		transition: 0.25s linear all;
}
.right-head ul li svg{
	width: 35px;
	height: 35px;
	fill: #fff;
}
.right-head ul li.active svg{
	fill: #fff;
}
.accountbox ul {
    display: block;
}
.right-head ul.inner-ul li{
	padding: 3px 0;
}
/* right-bar */
.right-bar {
    height: 100%;
    position: fixed;
    right: 0;
    background: #182455;
    width: 55px;
    bottom: 0;
		padding-top: 60px;
		z-index: 2;
}
.right-bar ul {
    padding: 15px 0;
    border-bottom: 1px solid #5163af;
}
.right-bar ul li {
    color: #fff;
		text-align: center;
		transition: 0.2s linear all;
}
.right-bar svg{
		fill: #5163af;
    width: 35px;
    height: 35px;
}
.right-bar ul span.title {
    color: #fff;
    text-align: center;
    font-size: 7px;
    text-transform: uppercase;
    display: block;
    padding: 0 5px;
    letter-spacing: 0.5px;
    font-weight: 700;
		margin-bottom: 5px;
}
.right-bar ul {
    border-bottom: 1px solid #5163af;
		margin-bottom: 0;
}
.right-bar ul.screenshare-ul {
    border-bottom: 0;
		padding-top: 10px;
}
.right-bar ul.screenshare-ul li span,.right-bar ul.chat-ul li span {
    font-size: 7px;
    text-transform: uppercase;
    word-break: break-word;
    line-height: 8px;
    display: block;
    padding: 0 5px;
    letter-spacing: 0.5px;
    color: #5163af;
    font-weight: 700;
}
.right-bar li:hover svg, .right-bar ul.chat-ul li:hover span,
.right-bar ul.screenshare-ul li:hover span,
.right-bar ul li.active svg, .right-bar ul.screenshare-ul li.active span,
.right-bar ul.chat-ul li.active span, .right-bar ul.screenshare-ul li.active span{
		fill: #fff;
		color: #fff;
		transition: 0.25s linear all;
}
.right-bar ul.screenshare-ul a, .right-bar ul.chat-ul a{
	text-decoration: none;
}
/* right-bar end*/

/* Main section */
section#main-screen {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 55px;
}
body.layout-1 section#main-screen{
		width: 35%;
    right: 55px;
    top: 55px;
    height: calc(100vh - 170px);
}
body.layout-1 section#main-screen .main-video{
	height: 100%;
}
body.layout-2 section#main-screen{
}
.main-video img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* Main Section end */

/* bottom panel */
.bottom-panel {
    position: absolute;
    bottom: 20px;
    width: calc(100% - 55px);
    padding: 0 25px;
}
.bottom-panel nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    background: #f1f1f3;
    padding: 0 20px;
}
.bottom-panel ul {
    display: flex;
    align-items: center;
    justify-content: center;
		margin: 0;
}
.bottom-panel ul li {
    margin: 0px 5px;
}
.bottom-left ul li{
	padding: 0 5px;
	margin: 0px 6px;
}
.bottom-left ul li:nth-child(3),.bottom-left ul li:nth-child(4){
	padding: 0;
	margin: 0 2px;
}
.bottom-left ul li:after {
    content: "";
    width: 2px;
    position: absolute;
    height: 12px;
    background: #cccccc;
    top: 55%;
    transform: translateY(-50%);
		margin-left: 10px;
}
.bottom-left ul li:nth-child(3):after{
	margin-left: 0;
}
.bottom-left ul li:last-child:after{
	content: unset;
}
.bottom-left ul li span.timer {
    font-size: 12px;
    color: #b9b9b9;
}
.bottom-left ul li.record a {
    color: #b9b9b9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
		text-decoration: none;
}
.bottom-left ul li.record:hover a{
	color: #333;
}
.bottom-left ul li svg {
    height: 35px;
    width: 35px;
    fill: #c4c4c4;
		margin-top: 3px;
}
/* .bottom-panel ul li a:hover path.red{
	fill: rgb(210, 58, 42);
}
.bottom-panel ul li a:hover path.grey{
	fill: rgb(140, 140, 140);
}
.bottom-panel ul li a:hover svg g{
	fill: rgb(140, 140, 140);
} */
.bottom-panel ul li.cancel-call a:hover g{
	fill: white;
}
.bottom-panel ul li.cancel-call a:hover path.red{
	fill: rgb(210, 58, 42);
}
.bottom-center ul li {
    margin: 0px 5px;
		transition: 0.25s linear all;
}
.bottom-center ul li a {
    background: #fff;
    height: 35px;
    width: 35px;
		display: flex;
    align-items: center;
    justify-content: center;
		border-radius: 100px;
		/* padding: 7px; */
}
.voice-control.mute a:after, .video.mute a:after {
	content: "";
	width: 4px;
	height: 25px;
	background: #fff;
	position: absolute;
	transform: rotate(-45deg);
	border-right: 2px solid #ff4545;
	/* border-left: 0; */
}
.bottom-center ul li.mute a svg circle{
	fill: rgb(255, 69, 69);
	transition: 0.25s linear all;
}
.bottom-center ul li a:hover svg circle{
	fill: #ececec;
}
.bottom-center ul li a:hover {
    box-shadow: 0 0 7px #cacaca;
}
.bottom-center ul li.mute a:hover svg circle{
	fill: rgb(255, 69, 69);
}
.bottom-center ul li a svg{
		width: 40px;
    height: 40px;
}
/* .bottom-center ul li a:hover svg path,  */
.bottom-center ul li.mute a svg path{
	fill: #fff;
	transition: 0.25s linear all;
}
.bottom-center ul li.cancel-call a:hover svg circle{
	fill: unset;
}
.bottom-center ul li.cancel-call a:hover svg path{
	fill: rgb(239, 43, 43);
}
.bottom-panel .bottom-right ul li{
	margin: 0;
}
.bottom-right svg {
    width: 35px;
		height: 35px;
		fill: #c4c4c4;
}
/* bottom panel end */


/* online users */
div#online-users {
    position: fixed;
    top: 75px;
    left: 20px;
}
div#online-users.layout-1{
		width: calc(65% - 85px);
}
div#online-users.layout-1 li{
	  display: inline-flex;
		margin: 10px 5px;
}
div#online-users.layout-2{
		width: calc( 100% - 95px);
}
div#online-users.layout-2 li{
	  display: inline-flex;
		margin: 10px 5px;
}
div#online-users ul {
    height: calc(100vh - 170px);
    /* overflow-y: auto; */
}
div#online-users li {
    width: 140px;
    height: 140px;
    overflow: hidden;
		margin: 10px 0;
		transition: 0.2s linear all;
}
div#online-users li a {
    display: block;
    width: 100%;
    height: 100%;
}
div#online-users li img {
    object-fit: cover;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}
div#online-users li.active-user, div#online-users li:hover {
		border-right: 5px solid #0052c6;
    transition: 0.2s linear all;
    padding-right: 5px;
}
div#online-users .mCS-minimal-dark.mCSB_scrollTools_vertical .mCSB_dragger{
	right: -15px;
}
/* online users end */

/* chat container */
.chat-container {
    background: #fff;
    position: fixed;
    right: -215px;
    width: 250px;
    height: calc(100% - 55px);
    top: 55px;
    box-shadow: -2px 0px 20px #bdbdbd;
    z-index: -1;
		transition: 0.2s linear all;
		padding: 20px;
}
.chat-container.active{
		right: 55px;
		z-index: 1;
		transition: 0.2s linear all;
}
.chat-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span.close{
		cursor: pointer;
		width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-top span.close {
    position: absolute;
    right: 20px;
    top: 21px;
}
span.close:before {
    content: "";
    background: #000;
    height: 12px;
    width: 2px;
    position: absolute;
    transform: rotate(-45deg);
}
span.close:after {
    content: "";
    background: #000;
    height: 12px;
    width: 2px;
    position: absolute;
    transform: rotate(45deg);
}
h4.cl-head {
    font-size: 18px;
    color: #182455;
		margin-bottom: 10px;
}
.chat-container .chat-list span.status.online {
    width: 8px;
    height: 8px;
    background: #4CAF50;
    display: inline-flex;
    border-radius: 100px;
}
 .chat-container ul.chat-list {

}
 .chat-container ul li{
	border-bottom: 1px solid #f3f3f3;
	padding: 10px 0 7px;
}
.chat-container .chat-list span.status.inactive {
    width: 8px;
    height: 8px;
    background: #ccc;
    display: inline-flex;
    border-radius: 100px;
}
.chat-container .chat-list span.user-name {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #636363;
    letter-spacing: 0.5px;
		padding-left: 5px;
}
.chat-typo {
    position: absolute;
    bottom: 20px;
    width: 100%;
    left: 0;
}
.chat-form {
    display: flex;
    align-items: center;
    justify-content: center;
		padding: 0 10px;
}
.chat-typo input[type="text"] {
    border: 0;
    border-bottom: 1px solid #ccc;
		overflow: visible;
    font-size: 13px;
    width: calc(100% - 50px);
		padding: 5px 0;
}
.chat-typo input:focus{
	outline: none;
}
.chat-typo input::-webkit-input-placeholder { /* Edge */
  font-size: 12px;
}
.chat-typo input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 12px;
}
.chat-typo input::placeholder {
  font-size: 12px;
}
.chat-form button {
    background: #2b6ac4;
    border: 0;
    border-radius: 100px;
    width: 32px;
    height: 32px;
		display: flex;
		align-items: center;
		margin-left: 5px;
		opacity: 0.8;
}
.chat-form button:hover{
	opacity: 1;
}
.chat-form button:focus{
	outline: none;
}
.chat-form button svg {
    transform: rotate(45deg);
    width: 17px;
    height: 17px;
}
/* chat container end */
