﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MM_Rewards.aspx.cs"
    Inherits="MM_Rewards.ErrorlogViewer" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style>
        body {
            padding-top: 105px;
        }
        div.pgData {
            padding: 0 20px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
    <div>
       <asp:Label ID="FileList" runat="server"></asp:Label>
    </div>
    </form>
</body>
</html>
