<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <title>confirmation Mail</title>
    <link type="text/css" href="Styles/form.css" rel="Stylesheet" />
</head>
<body>

<table width="598" border="0" cellspacing="0" cellpadding="0" style="border-top:20px solid #E92226;border-bottom:10px solid #E92226;border-left:1px solid #E92226;border-right:1px solid #E92226;">
   <tr>
    <td style="border-top:5px double #E92226;padding:10px 20px; color:#4E504F; font-family:Arial, Helvetica, sans-serif; font-size:15px; line-height:20px;">
    	<p style="color:#E92226; font-weight:bold; font-size:18px;">Dear <%HODName%>,</p>
    	<p>
    		This is to inform, that you have chosen <%RecipientName%> for <%AwardName%> award of Rs. <%AwardAmount%> and after giving this award, the balance amount in your account is Rs. <%BalanceAmount%>
		</p>
        <p><u>Details of&nbsp; Recipient</u></p>
        <ul>
        <li><%TokenNumber%></li>
        <li><%RecipientName%></li>
        <li><%AwardID%></li>
        <li><%EmailID%></li>
        </ul>

		<strong style="font-size:14px;"><u>Note:-</u></strong><br />
			<ol style="font-size:13px;">
				<li>Please note that within 3 working days of this intimation the award recipient would get a system generated email as an intimation of this award.</li>
				<li>You are advised to hand over a physical letter with right denomination to the employee within 3 days.</li>
			</ol>
			<p>Please get in touch with your Rewards &amp; Recognition Coordinator for any queries & assistance.</p>

		<p style="font-size:13px;">Regards,<br /> Rewards &amp; Recognition Team </p>
    </td>
  </tr>
</table>

</body>
</html>
